Repository CliMA/ClimateMachine.jl, pull requests merged in 2019-12, with the labels that each got.

#527 Module for timing
  examples/DGmethods/ex_001_dycoms.jl
  src/Arrays/MPIStateArrays.jl
  src/CLIMA.jl
  src/InputOutput/VTK/VTK.jl
  src/InputOutput/VTK/writepvtu.jl
  src/InputOutput/VTK/writevtk.jl
  src/Utilities/TicToc/TicToc.jl
  test/Utilities/TicToc/runtests.jl
  test/runtests.jl
Labels: Diagnostics

#547 MPIStateArrays: add generic mapreduce support
  src/Arrays/MPIStateArrays.jl
  test/Arrays/reductions.jl
Labels: Diagnostics, MPIStateArray

#560 change mechanism for init on CPU
  src/Arrays/MPIStateArrays.jl
  src/DGmethods/DGmodel.jl
  test/DGmethods/compressible_Navier_Stokes/mms_bc_atmos.jl
Labels: MPIStateArray

#509 Reformulate ARK timesteppers
  src/ODESolvers/AdditiveRungeKuttaMethod.jl
  src/ODESolvers/AdditiveRungeKuttaMethod_kernels.jl
  test/ODESolvers/runtests.jl
Labels: Timestepping

#578 Fix docs, remove sat adjust from export
  src/Common/MoistThermodynamics/MoistThermodynamics.jl
  test/Common/MoistThermodynamics/runtests.jl
Labels: moist-thermo

#545 Metrics for integrating on slabs
  Manifest.toml
  Project.toml
  examples/DGmethods/ex_001_dycoms.jl
  src/Mesh/Grids.jl
  test/DGmethods/horizontal_integral_test.jl
  test/DGmethods/runtests.jl
Labels: DG Kernels, Diagnostics

#535 Hydrostatic 3D Ocean Model
  slurmci-test.toml
  src/Arrays/MPIStateArrays.jl
  src/CLIMA.jl
  src/DGmethods/DGmodel.jl
  src/DGmethods/DGmodel_kernels.jl
  src/DGmethods/NumericalFluxes.jl
  src/Mesh/Filters_kernels.jl
  src/Ocean/Model/HydrostaticBoussinesqModel.jl
  test/Ocean/Hydrostatic_Boussinesq/simple_box.jl
  test/Ocean/Hydrostatic_Boussinesq/test_divergence_free.jl
  test/Ocean/runtests.jl
  test/runtests.jl
Labels: Ocean

#508 Diagnostics module
  docs/Manifest.toml
  docs/Project.toml
  examples/DGmethods/ex_001_dycoms.jl
  src/CLIMA.jl
  src/Diagnostics/Diagnostics.jl
  src/Diagnostics/diagnostic_vars.jl
  src/Diagnostics/graph_diagnostic.jl
  src/InputOutput/IOstrings/IOstrings.jl
  src/InputOutput/IOstrings/IOstrings_outpath_name.jl
  src/Utilities/VariableTemplates/VariableTemplates.jl
  test/Diagnostics/dycoms_sin_test.jl
  test/Diagnostics/runtests.jl
  test/Utilities/VariableTemplates/runtests.jl
  test/runtests.jl
Labels: Diagnostics

#581 Revamp moist-thermo config & tests
  src/Common/MoistThermodynamics/MoistThermodynamics.jl
  src/Common/MoistThermodynamics/states.jl
  src/Diagnostics/Diagnostics.jl
  test/Common/MoistThermodynamics/runtests.jl
Labels: moist-thermo
