Repository CliMA/ClimateMachine.jl, pull requests merged in 2020-05, with the labels that each got.

#1028 Fix some diagnostics bugs
  experiments/AtmosGCM/heldsuarez.jl
  experiments/AtmosLES/bomex.jl
  slurmci-test.toml
  src/Diagnostics/Diagnostics.jl
  src/Diagnostics/atmos_core.jl
  src/Diagnostics/atmos_default.jl
  src/Diagnostics/dump_state_and_aux.jl
  src/Driver/solver_configs.jl
  src/Numerics/DGmethods/DGmethods.jl
  src/Numerics/DGmethods/DGmodel.jl
Labels: Bug-fix, Diagnostics

#1039 Landing page for documentation (try 2)
  docs/src/index.md
Labels: Documentation

#1031 BalanceLaw Documentation consistent with #961
  docs/src/ExtendingCLIMA/Numerics/DGmethods/how_to_make_a_balance_law.md
  src/Numerics/DGmethods/balancelaw.jl
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
Labels: CLIMA, Documentation

#1041 generate docs for experiments
  docs/list_of_experiments.jl
  docs/make.jl
Labels: Documentation

#1066 Reorganize moist thermodynamics, move profiles into tests
  docs/src/HowToGuides/Common/MoistThermodynamics.md
  src/Common/MoistThermodynamics/MoistThermodynamics.jl
  src/Common/MoistThermodynamics/relations.jl
  src/Common/MoistThermodynamics/states.jl
  test/Common/MoistThermodynamics/data_tests.jl
  test/Common/MoistThermodynamics/profiles.jl
  test/Common/MoistThermodynamics/runtests.jl
Labels: moist-thermo

#1065 Add a couple of core diagnostics
  docs/src/HowToGuides/Diagnostics/DiagnosticVariables.md
  src/Diagnostics/atmos_core.jl
Labels: Diagnostics

#1059 Make moist thermo tolerance residual-based
  src/Common/MoistThermodynamics/MoistThermodynamics.jl
  src/Common/MoistThermodynamics/relations.jl
  src/Common/MoistThermodynamics/states.jl
  test/Common/MoistThermodynamics/profiles.jl
  test/Common/MoistThermodynamics/runtests.jl
Labels: moist-thermo

#1097 Remove generated docs folder in docs/make.jl
  docs/make.jl
Labels: Documentation

#1060 Add BatchedGMRES method
  Project.toml
  docs/Manifest.toml
  docs/list_of_tutorials.jl
  docs/src/HowToGuides/Numerics/LinearSolvers/IterativeSolvers.md
  src/ClimateMachine.jl
  src/Numerics/LinearSolvers/BatchedGeneralizedMinimalResidualSolver.jl
  test/Numerics/DGmethods/advection_diffusion/advection_diffusion_model_1dimex_bgmres.jl
  test/Numerics/DGmethods/runtests.jl
  test/Numerics/LinearSolvers/bgmres.jl
  test/Numerics/LinearSolvers/runtests.jl
  tutorials/Numerics/LinearSolvers/bgmres.jl
Labels: 1D IMEX, Linear Solvers

#1056 Add instructions for creating custom system image
  .dev/systemimage/climate_machine_image.jl
  .gitignore
  azure-pipelines.yml
  docs/src/HowToGuides/Contributing/CONTRIBUTING.md
Labels: Documentation

#1029 Add heat equation tutorial and single stack configuration
  docs/Project.toml
  docs/list_of_tutorials.jl
  docs/plothelpers.jl
  src/ClimateMachine.jl
  src/Common/ConfigTypes/ConfigTypes.jl
  src/Driver/driver_configs.jl
  src/Numerics/Mesh/Grids.jl
  src/Utilities/SingleStackUtils/SingleStackUtils.jl
  tutorials/Land/Heat/heat_equation.jl
Labels: Documentation

#1130 Driver hotfix: Pass diffusion direction to the slow dg model for multirate methods
  src/Driver/solver_configs.jl
Labels: Bug-fix

#1142 Remove unnecessary zero initializations in HBModel
  src/Ocean/HydrostaticBoussinesq/SimpleBoxProblem.jl
Labels: Defensive programming, Ocean

#1149 add docs about writing / generating docs
  docs/make.jl
  docs/src/Contributing.md
  docs/src/DevDocs/CodeStyle.md
  docs/src/GettingStarted/Installation.md
Labels: Documentation

#1156 Remove broken ref on landing page
  docs/src/index.md
Labels: Documentation

#1158 Revert PR #1142
  src/Ocean/HydrostaticBoussinesq/SimpleBoxProblem.jl
Labels: Bug-fix, Ocean

#1139 Reverse sign of gradient flux states in HB Model
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
  src/Ocean/HydrostaticBoussinesq/LinearHBModel.jl
  src/Ocean/HydrostaticBoussinesq/SimpleBoxProblem.jl
Labels: Boundary Conditions, Defensive programming, Ocean

#1159 Abstract array device discovery
  src/Arrays/MPIStateArrays.jl
  src/Diagnostics/Diagnostics.jl
  src/Diagnostics/atmos_common.jl
  src/Diagnostics/atmos_core.jl
  src/Diagnostics/atmos_default.jl
  src/Diagnostics/diagnostic_fields.jl
  src/Diagnostics/dump_state_and_aux.jl
  src/InputOutput/VTK/writevtk.jl
  src/Numerics/DGmethods/DGmodel.jl
  src/Numerics/DGmethods/balance_law.jl
  src/Numerics/LinearSolvers/BatchedGeneralizedMinimalResidualSolver.jl
  src/Numerics/LinearSolvers/ColumnwiseLUSolver.jl
  src/Numerics/LinearSolvers/GeneralizedConjugateResidualSolver.jl
  src/Numerics/LinearSolvers/GeneralizedMinimalResidualSolver.jl
  src/Numerics/Mesh/Interpolation.jl
  src/Numerics/ODESolvers/AdditiveRungeKuttaMethod.jl
  src/Numerics/ODESolvers/LowStorageRungeKuttaMethod.jl
  src/Numerics/ODESolvers/MultirateInfinitesimalGARKDecoupledImplicit.jl
  src/Numerics/ODESolvers/MultirateInfinitesimalGARKExplicit.jl
  src/Numerics/ODESolvers/MultirateInfinitesimalStepMethod.jl
  src/Numerics/ODESolvers/MultirateRungeKuttaMethod.jl
  src/Numerics/ODESolvers/ODESolvers.jl
  src/Numerics/ODESolvers/StrongStabilityPreservingRungeKuttaMethod.jl
  src/Utilities/Checkpoint/Checkpoint.jl
  src/Utilities/SingleStackUtils/SingleStackUtils.jl
  test/Arrays/mpi_comm.jl
  test/Driver/cr_unit_tests.jl
  test/Numerics/DGmethods/horizontal_integral_test.jl
  test/Numerics/LinearSolvers/cg.jl
  test/Numerics/LinearSolvers/columnwiselu.jl
  test/Numerics/Mesh/interpolation.jl
  test/Numerics/Mesh/mpi_connect_sphere.jl
  test/Numerics/ODESolvers/ode_tests_convergence.jl
Labels: MPIStateArray

#1164 Small fixes for vorticity computation
  src/Diagnostics/diagnostic_fields.jl
  test/Diagnostics/diagnostic_fields_test.jl
Labels: Diagnostics

#1170 Combine LinearSolvers into single module
  docs/list_of_apis.jl
  docs/list_of_how_to_guides.jl
  docs/list_of_tutorials.jl
  docs/src/APIs/Numerics/LinearSolvers/LinearSolvers.md
  docs/src/APIs/Numerics/SystemSolvers/SystemSolvers.md
  docs/src/HowToGuides/Numerics/ODESolvers/Timestepping.md
  docs/src/HowToGuides/Numerics/SystemSolvers/IterativeSolvers.md
  experiments/AtmosGCM/heldsuarez.jl
  experiments/OceanBoxGCM/homogeneous_box.jl
  slurmci-test.toml
  src/ClimateMachine.jl
  src/Driver/Driver.jl
  src/Numerics/ODESolvers/BackwardEulerSolvers.jl
  src/Numerics/ODESolvers/ODESolvers.jl
  src/Numerics/SystemSolvers/SystemSolvers.jl
  src/Numerics/SystemSolvers/batched_generalized_minimal_residual_solver.jl
  src/Numerics/SystemSolvers/columnwise_lu_solver.jl
  src/Numerics/SystemSolvers/conjugate_gradient_solver.jl
  src/Numerics/SystemSolvers/generalized_conjugate_residual_solver.jl
  src/Numerics/SystemSolvers/generalized_minimal_residual_solver.jl
  test/Numerics/DGmethods/Euler/acousticwave_1d_imex.jl
  test/Numerics/DGmethods/Euler/isentropicvortex_imex.jl
  test/Numerics/DGmethods/Euler/isentropicvortex_mrigark.jl
  test/Numerics/DGmethods/Euler/isentropicvortex_mrigark_implicit.jl
  test/Numerics/DGmethods/Euler/isentropicvortex_multirate.jl
  test/Numerics/DGmethods/advection_diffusion/advection_diffusion_model_1dimex_bgmres.jl
  test/Numerics/DGmethods/advection_diffusion/pseudo1D_advection_diffusion_1dimex.jl
  test/Numerics/DGmethods/advection_diffusion/pseudo1D_advection_diffusion_mrigark_implicit.jl
  test/Numerics/ODESolvers/ode_tests_common.jl
  test/Numerics/SystemSolvers/bandedsystem.jl
  test/Numerics/SystemSolvers/bgmres.jl
  test/Numerics/SystemSolvers/cg.jl
  test/Numerics/SystemSolvers/columnwiselu.jl
  test/Numerics/SystemSolvers/iterativesolvers.jl
  test/Numerics/SystemSolvers/poisson.jl
  test/Numerics/SystemSolvers/runtests.jl
  test/Numerics/runtests.jl
  test/Ocean/HydrostaticBoussinesq/test_divergence_free.jl
  tutorials/Numerics/SystemSolvers/bgmres.jl
  tutorials/Numerics/SystemSolvers/cg.jl
Labels: Linear Solvers, SystemSolvers

#1131 Method dispatch on `liquid_frac` based on thermodynamic state type
  src/Common/MoistThermodynamics/relations.jl
  src/Common/MoistThermodynamics/states.jl
  test/Common/MoistThermodynamics/profiles.jl
  test/Common/MoistThermodynamics/runtests.jl
  tutorials/Microphysics/KinematicModel.jl
  tutorials/Microphysics/ex_1_saturation_adjustment.jl
  tutorials/Microphysics/ex_2_Kessler.jl
Labels: moist-thermo

#1138 Use varsindex instead of hard-coded indices in HBModel
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
Labels: Defensive programming, Ocean, help wanted

#1179 Rename MoistThermodynamics -> Thermodynamics
  docs/list_of_how_to_guides.jl
  docs/src/APIs/Common/Thermodynamics.md
  docs/src/HowToGuides/Atmos/TemperatureProfiles.md
  docs/src/HowToGuides/Common/Thermodynamics.md
  docs/src/Theory/Atmos/EDMFEquations.md
  docs/src/Theory/Atmos/Microphysics.md
  experiments/AtmosGCM/heldsuarez.jl
  experiments/AtmosLES/bomex.jl
  experiments/AtmosLES/dycoms.jl
  experiments/AtmosLES/surfacebubble.jl
  experiments/AtmosLES/taylor-green.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/moisture.jl
  src/Atmos/Parameterizations/CloudPhysics/Microphysics.jl
  src/ClimateMachine.jl
  src/Common/SurfaceFluxes/SurfaceFluxes.jl
  src/Common/Thermodynamics/Thermodynamics.jl
  src/Common/Thermodynamics/isentropic.jl
  src/Common/Thermodynamics/relations.jl
  src/Common/Thermodynamics/states.jl
  src/Diagnostics/atmos_les_core.jl
  src/Diagnostics/atmos_les_default.jl
  src/Driver/Driver.jl
  test/Atmos/Parameterizations/Microphysics/runtests.jl
  test/Common/SurfaceFluxes/runtests.jl
  test/Common/Thermodynamics/Artifacts.toml
  test/Common/Thermodynamics/data_tests.jl
  test/Common/Thermodynamics/profiles.jl
  test/Common/Thermodynamics/runtests.jl
  test/Common/Thermodynamics/update_constructor_data.jl
  test/Common/runtests.jl
  test/Diagnostics/diagnostic_fields_test.jl
  test/Diagnostics/sin_test.jl
  test/Driver/cr_unit_tests.jl
  test/Driver/driver_test.jl
  test/Driver/gcm_driver_test.jl
  test/Driver/mms3.jl
  test/Numerics/DGMethods/Euler/acousticwave_1d_imex.jl
  test/Numerics/DGMethods/Euler/isentropicvortex.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_imex.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_mrigark.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_mrigark_implicit.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_multirate.jl
  test/Numerics/DGMethods/compressible_Navier_Stokes/density_current_model.jl
  test/Numerics/DGMethods/compressible_Navier_Stokes/mms_bc_atmos.jl
  test/Numerics/DGMethods/compressible_Navier_Stokes/ref_state.jl
  test/Numerics/DGMethods/courant.jl
  test/Numerics/DGMethods/horizontal_integral_test.jl
  test/Numerics/Mesh/interpolation.jl
  test/runtests_gpu.jl
  tutorials/Atmos/dry_rayleigh_benard.jl
  tutorials/Atmos/heldsuarez.jl
  tutorials/Atmos/risingbubble.jl
  tutorials/Microphysics/KinematicModel.jl
Labels: Thermodynamics
