Repository CliMA/ClimateMachine.jl, pull requests merged in 2020-09, with the labels that each got.

#1451 Batched GMRES restructuring
  src/Numerics/SystemSolvers/SystemSolvers.jl
  src/Numerics/SystemSolvers/batched_generalized_minimal_residual_solver.jl
  test/Numerics/SystemSolvers/bgmres.jl
  tutorials/Numerics/SystemSolvers/bgmres.jl
Labels: 1D IMEX, Linear Solvers

#1480 Fix TicToc for Revise
  src/Utilities/TicToc/TicToc.jl
Labels: Bug-fix

#1508 Make plot helpers GPU-friendly
  docs/plothelpers.jl
Labels: GPU

#1506 Set defaults properly for GCMDriver experiments
  experiments/AtmosGCM/GCMDriver/baroclinicwave_problem.jl
  experiments/AtmosGCM/GCMDriver/gcm_base_states.jl
  experiments/AtmosGCM/GCMDriver/gcm_moisture_profiles.jl
  experiments/AtmosGCM/GCMDriver/gcm_perturbations.jl
  experiments/AtmosGCM/GCMDriver/heldsuarez_problem.jl
Labels: Atmos, Bug-fix

#1440 Precipitation removal scheme for GCM
  Project.toml
  docs/list_of_apis.jl
  docs/list_of_theory_docs.jl
  docs/src/APIs/Atmos/AtmosModel.md
  docs/src/APIs/Atmos/Microphysics_0M.md
  docs/src/Theory/Atmos/Microphysics_0M.md
  experiments/AtmosGCM/baroclinic-wave.jl
  src/Atmos/Model/source.jl
  src/Atmos/Parameterizations/CloudPhysics/Microphysics_0M.jl
  src/ClimateMachine.jl
  test/Atmos/Parameterizations/Microphysics/runtests.jl
Labels: Atmos, Documentation, Microphysics

#1514 Use broadcast for incompressibility calculation
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
  test/Ocean/refvals/test_ocean_gyre_refvals.jl
Labels: Ocean, Refactor

#1505 clean up ConstantViscosityWithDivergence
  docs/src/APIs/Common/TurbulenceClosures.md
  docs/src/Theory/Common/Turbulence.md
  experiments/AtmosGCM/GCMDriver/GCMDriver.jl
  experiments/AtmosGCM/baroclinic-wave.jl
  experiments/AtmosGCM/heldsuarez.jl
  experiments/AtmosGCM/isothermal-zonal-flow.jl
  experiments/AtmosGCM/moist-baroclinic-wave-bulksfcflux.jl
  experiments/AtmosGCM/nonhydrostatic-gravity-wave.jl
  src/Common/TurbulenceClosures/TurbulenceClosures.jl
  test/Atmos/Model/discrete-hydrostatic-balance.jl
  test/Driver/cr_unit_tests.jl
  test/Driver/gcm_driver_test.jl
  test/Driver/mms3.jl
  test/Numerics/DGMethods/Euler/acousticwave_1d_imex.jl
  test/Numerics/DGMethods/Euler/acousticwave_mrigark.jl
  test/Numerics/DGMethods/Euler/isentropicvortex.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_imex.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_mrigark.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_mrigark_implicit.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_multirate.jl
  test/Numerics/DGMethods/compressible_Navier_Stokes/mms_bc_atmos.jl
  test/Numerics/DGMethods/courant.jl
  test/Numerics/Mesh/interpolation.jl
Labels: Atmos

#1513 Add kinematic stress BC for SWModel
  src/Ocean/ShallowWater/bc_velocity.jl
Labels: Boundary Conditions, Ocean

#1504 Generalized mass+energy conservation checks
  docs/src/APIs/Diagnostics/Diagnostics.md
  docs/src/APIs/Driver/index.md
  experiments/AtmosLES/bomex_les.jl
  experiments/AtmosLES/bomex_single_stack.jl
  experiments/AtmosLES/taylor_green.jl
  src/Diagnostics/Diagnostics.jl
  src/Diagnostics/atmos_mass_energy_loss.jl
  src/Diagnostics/groups.jl
  src/Diagnostics/variables.jl
  src/Driver/Callbacks/Callbacks.jl
  src/Driver/Driver.jl
  src/Utilities/Checkpoint/Checkpoint.jl
Labels: Atmos, Diagnostics, enhancement

#1524 Add `liquid_specific_humidity` and `ice_specific_humidity` to Thermodynamics
  docs/src/APIs/Common/Thermodynamics.md
  src/Common/Thermodynamics/relations.jl
  test/Common/Thermodynamics/runtests.jl
Labels: Thermodynamics

#1529 Fix horizontal average
  src/Utilities/SingleStackUtils/SingleStackUtils.jl
  test/Utilities/SingleStackUtils/ssu_tests.jl
Labels: Bug-fix

#1515 Add rotating spindown test to handling of Coriolis force
  .buildkite/pipeline.yml
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
  src/Ocean/OceanProblems/SimpleBoxProblem.jl
  src/Ocean/SplitExplicit/HydrostaticBoussinesqCoupling.jl
  test/Ocean/SplitExplicit/hydrostatic_spindown.jl
  test/Ocean/SplitExplicit/test_coriolis.jl
Labels: Ocean, tests

#1539 add q_vap_saturation wrapper for NonEquilMoist model
  docs/src/APIs/Common/Thermodynamics.md
  src/Common/Thermodynamics/relations.jl
  test/Atmos/Parameterizations/Microphysics/runtests.jl
  test/Common/Thermodynamics/runtests.jl
Labels: Atmos, House cleaning, Microphysics

#1538 Rename step (intrinsic func)
  test/Atmos/Parameterizations/Microphysics/KM_ice.jl
  test/Atmos/Parameterizations/Microphysics/KM_saturation_adjustment.jl
  test/Atmos/Parameterizations/Microphysics/KM_warm_rain.jl
  test/Land/Model/test_bc.jl
  test/Numerics/DGMethods/compressible_Navier_Stokes/density_current_model.jl
  test/Ocean/ShallowWater/GyreDriver.jl
  test/Ocean/ShallowWater/test_2D_spindown.jl
  test/Ocean/SplitExplicit/split_explicit.jl
  tutorials/Atmos/burgers_single_stack.jl
  tutorials/Land/Soil/Water/equilibrium_test.jl
  tutorials/Numerics/DGMethods/Box1D.jl
Labels: House cleaning, Naming Conventions

#1540 Rename `thermo_state` to `recover_thermo_state`, add `new_thermo_state`
  docs/src/APIs/Atmos/AtmosModel.md
  experiments/AtmosGCM/GCMDriver/GCMDriver.jl
  experiments/AtmosGCM/GCMDriver/gcm_sources.jl
  experiments/AtmosLES/bomex_model.jl
  experiments/AtmosLES/stable_bl_kosovic.jl
  experiments/AtmosLES/unstable_bl_kitamura.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/bc_energy.jl
  src/Atmos/Model/moisture.jl
  src/Atmos/Model/precipitation.jl
  src/Atmos/Model/source.jl
  src/Atmos/Model/thermodynamics.jl
  src/Diagnostics/atmos_gcm_default.jl
  src/Diagnostics/atmos_les_core.jl
  src/Diagnostics/atmos_les_default.jl
  src/Diagnostics/thermo.jl
  test/Driver/mms3.jl
  test/Numerics/DGMethods/compressible_Navier_Stokes/mms_bc_atmos.jl
Labels: Thermodynamics

#1531 add NonEquilMoist model to Atmos
  docs/src/APIs/Atmos/AtmosModel.md
  experiments/AtmosLES/bomex_les.jl
  experiments/AtmosLES/bomex_model.jl
  src/Atmos/Model/filters.jl
  src/Atmos/Model/linear.jl
  src/Atmos/Model/moisture.jl
  src/Atmos/Model/ref_state.jl
  src/Atmos/Model/source.jl
  src/Atmos/Model/thermodynamics.jl
  src/Diagnostics/atmos_les_default.jl
  src/Diagnostics/thermo.jl
  src/Diagnostics/variables.jl
Labels: Atmos, Microphysics

#1547 safeguards against negative microphysics values
  src/Atmos/Parameterizations/CloudPhysics/Microphysics.jl
  src/Common/Thermodynamics/Thermodynamics.jl
  src/Common/Thermodynamics/relations.jl
  src/Common/Thermodynamics/states.jl
Labels: Atmos, House cleaning, Microphysics

#1528 Add HLLC numerical flux
  docs/src/APIs/Numerics/DGMethods/NumericalFluxes.md
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/linear.jl
  src/Numerics/DGMethods/NumericalFluxes.jl
  test/Atmos/Model/discrete-hydrostatic-balance.jl
  test/Numerics/DGMethods/Euler/isentropicvortex.jl
Labels: AtmosDycore, Numerics

#1550 All changes from branch "jmc/split_explicit_draft" (from PR #1486)
  .buildkite/pipeline.yml
  docs/src/APIs/Ocean/Ocean.md
  src/ClimateMachine.jl
  src/Numerics/SystemSolvers/batched_generalized_minimal_residual_solver.jl
  src/Ocean/Ocean.jl
  src/Ocean/SplitExplicit01/BarotropicModel.jl
  src/Ocean/SplitExplicit01/Communication.jl
  src/Ocean/SplitExplicit01/Continuity3dModel.jl
  src/Ocean/SplitExplicit01/IVDCModel.jl
  src/Ocean/SplitExplicit01/OceanBoundaryConditions.jl
  src/Ocean/SplitExplicit01/OceanModel.jl
  src/Ocean/SplitExplicit01/SplitExplicitLSRK2nMethod.jl
  src/Ocean/SplitExplicit01/SplitExplicitModel.jl
  src/Ocean/SplitExplicit01/VerticalIntegralModel.jl
  test/Ocean/SplitExplicit/simple_box_2dt.jl
  test/Ocean/SplitExplicit/simple_box_ivd.jl
  test/Ocean/refvals/simple_box_2dt_refvals.jl
  test/Ocean/refvals/simple_box_ivd_refvals.jl
Labels: Ocean, Timestepping

#1548 Doc skipping tutorials during doc build
  docs/src/Contributing.md
Labels: Documentation

#1549 Add LWP
  .buildkite/pipeline.yml
  src/Diagnostics/atmos_common.jl
  src/Diagnostics/atmos_les_core.jl
  src/Diagnostics/atmos_les_default.jl
  src/Diagnostics/atmos_les_default_perturbations.jl
  src/Diagnostics/thermo.jl
  test/Diagnostics/sin_test.jl
Labels: Atmos, Diagnostics

#1308 Add EDMF model
  .buildkite/pipeline.yml
  docs/src/Theory/Atmos/EDMFEquations.md
  src/Utilities/VariableTemplates/VariableTemplates.jl
  test/Atmos/EDMF/Artifacts.toml
  test/Atmos/EDMF/bomex_edmf.jl
  test/Atmos/EDMF/bomex_edmf_regression_test.jl
  test/Atmos/EDMF/closures/entr_detr.jl
  test/Atmos/EDMF/closures/mixing_length.jl
  test/Atmos/EDMF/closures/pressure.jl
  test/Atmos/EDMF/closures/surface_functions.jl
  test/Atmos/EDMF/closures/turbulence_functions.jl
  test/Atmos/EDMF/edmf_kernels.jl
  test/Atmos/EDMF/edmf_model.jl
  test/Atmos/EDMF/helper_funcs/diagnose_environment.jl
  test/Atmos/EDMF/helper_funcs/lamb_smooth_minimum.jl
  test/Atmos/EDMF/helper_funcs/nondimensional_exchange_functions.jl
  test/Atmos/EDMF/helper_funcs/save_subdomain_temperature.jl
  test/Atmos/EDMF/helper_funcs/subdomain_statistics.jl
  test/Atmos/EDMF/helper_funcs/subdomain_thermo_states.jl
  test/Atmos/EDMF/helper_funcs/utility_funcs.jl
Labels: AtmosTCC

#1557 Remove atmos thermo wrappers
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/courant.jl
  src/Atmos/Model/moisture.jl
  src/Atmos/Model/thermo_states.jl
  test/Driver/mms3.jl
  test/Numerics/DGMethods/compressible_Navier_Stokes/mms_bc_atmos.jl
Labels: Thermodynamics

#1491 Kd/agl/soil_tutorials_pt_1
  docs/Project.toml
  docs/list_of_tutorials.jl
  docs/src/APIs/Land/SoilHeatParameterizations.md
  src/Land/Model/SoilHeatParameterizations.jl
  src/Land/Model/SoilWaterParameterizations.jl
  src/Land/Model/soil_bc.jl
  src/Land/Model/soil_heat.jl
  src/Land/Model/soil_model.jl
  src/Land/Model/soil_water.jl
  test/Land/Model/haverkamp_test.jl
  test/Land/Model/heat_analytic_unit_test.jl
  test/Land/Model/test_bc.jl
  test/Land/Model/test_heat_parameterizations.jl
  test/Land/Model/test_water_parameterizations.jl
  tutorials/Land/Soil/Artifacts.toml
  tutorials/Land/Soil/Coupled/equilibrium_test.jl
  tutorials/Land/Soil/Heat/bonan_heat_tutorial.jl
  tutorials/Land/Soil/Water/equilibrium_test.jl
  tutorials/Land/Soil/Water/hydraulic_functions.jl
  tutorials/Land/Soil/interpolation_helper.jl
Labels: land - soil - heat, land - soil - water

#1434 Add atmos ref state plots to docs
  .buildkite/pipeline.yml
  docs/list_of_how_to_guides.jl
  docs/src/HowToGuides/Atmos/AtmosReferenceState.md
  src/Driver/solver_configs.jl
  test/Atmos/Model/Artifacts.toml
  test/Atmos/Model/get_atmos_ref_states.jl
  test/Atmos/Model/ref_state.jl
  test/Numerics/DGMethods/compressible_Navier_Stokes/ref_state.jl
Labels: Documentation

#1558 Move `ConfigTypes` and `Checkpoint` into `Driver/`
  docs/list_of_apis.jl
  docs/src/APIs/Driver/Checkpoint.md
  src/ClimateMachine.jl
  src/Driver/Checkpoint/Checkpoint.jl
  src/Driver/ConfigTypes/ConfigTypes.jl
  src/Driver/Driver.jl
  src/Driver/solver_configs.jl
Labels: Refactor

#1483 Add a Jacobian-Free Newton-Krylov solver and preconditioning hooks
  docs/src/APIs/Numerics/ODESolvers/ODESolvers.md
  docs/src/APIs/Numerics/SystemSolvers/SystemSolvers.md
  src/Driver/solver_configs.jl
  src/Numerics/ODESolvers/AdditiveRungeKuttaMethod.jl
  src/Numerics/ODESolvers/BackwardEulerSolvers.jl
  src/Numerics/SystemSolvers/SystemSolvers.jl
  src/Numerics/SystemSolvers/batched_generalized_minimal_residual_solver.jl
  src/Numerics/SystemSolvers/columnwise_lu_solver.jl
  src/Numerics/SystemSolvers/conjugate_gradient_solver.jl
  src/Numerics/SystemSolvers/generalized_conjugate_residual_solver.jl
  src/Numerics/SystemSolvers/generalized_minimal_residual_solver.jl
  src/Numerics/SystemSolvers/jacobian_free_newton_krylov_solver.jl
  src/Numerics/SystemSolvers/preconditioners.jl
  src/Ocean/SplitExplicit01/SplitExplicitLSRK2nMethod.jl
  test/Numerics/DGMethods/Euler/acousticwave_1d_imex.jl
  test/Numerics/DGMethods/advection_diffusion/advection_diffusion_model_1dimex_bjfnks.jl
  test/Numerics/ODESolvers/ode_tests_common.jl
  test/Numerics/SystemSolvers/bgmres.jl
  test/Numerics/SystemSolvers/cg.jl
  test/Numerics/SystemSolvers/iterativesolvers.jl
  test/Numerics/SystemSolvers/poisson.jl
  tutorials/Atmos/burgers_single_stack_bjfnk.jl
  tutorials/Numerics/SystemSolvers/bgmres.jl
  tutorials/Numerics/SystemSolvers/cg.jl
Labels: 1D IMEX, AtmosDycore, Linear Solvers, Nonlinear solvers, SystemSolvers

#1554 Integrate Split-Explicit Solver into Driver.jl
  .buildkite/pipeline.yml
  .gitignore
  docs/src/APIs/Driver/index.md
  experiments/OceanSplitExplicit/simple_box.jl
  src/Driver/ConfigTypes/ConfigTypes.jl
  src/Driver/Driver.jl
  src/Driver/SolverTypes/SolverTypes.jl
  src/Driver/SolverTypes/SplitExplicitSolverType.jl
  src/Driver/driver_configs.jl
  src/Driver/solver_configs.jl
  src/Ocean/SplitExplicit01/BarotropicModel.jl
  src/Ocean/SplitExplicit01/OceanModel.jl
  src/Ocean/SplitExplicit01/SplitExplicitLSRK2nMethod.jl
  src/Ocean/SplitExplicit01/SplitExplicitModel.jl
  test/Ocean/SplitExplicit/simple_box_ivd.jl
  test/Ocean/SplitExplicit/split_explicit.jl
  test/Ocean/SplitExplicit/test_simple_box.jl
  test/Ocean/SplitExplicit/test_spindown_short.jl
Labels: Ocean, User Interface

#1577 bugfix for #1554
  src/Driver/SolverTypes/SplitExplicitSolverType.jl
Labels: Bug-fix, Ocean

#1580 Update Array type when switching from GPU to CPU
  src/Driver/Driver.jl
Labels: Bug-fix, ClimateMachine, User Interface

#1574 Add moisture model docs
  .github/workflows/Documenter.yaml
  docs/list_of_how_to_guides.jl
  docs/src/HowToGuides/Atmos/MoistureModelChoices.md
Labels: Atmos, Documentation

#1579 Tutorial documentation fixes
  docs/list_of_tutorials.jl
  tutorials/Atmos/agnesi_hs_lin.jl
  tutorials/Atmos/agnesi_nh_lin.jl
  tutorials/Atmos/risingbubble.jl
Labels: Atmos, Documentation, tutorials

#1567 Docs/getting started
  docs/list_of_getting_started_docs.jl
  docs/src/GettingStarted/RunningClimateMachine.md
  docs/src/GettingStarted/Terminology.md
  docs/src/index.md
Labels: Documentation

#1575 add a summary list for tutorials
  docs/list_of_tutorials.jl
  tutorials/TutorialList.jl
  tutorials/how_to_make_a_balance_law.jl
  tutorials/topo.jl
Labels: Documentation, tutorials

#1560 Fix density current tutorial
  docs/list_of_tutorials.jl
  tutorials/Atmos/densitycurrent.jl
  tutorials/Atmos/risingbubble.jl
Labels: Documentation

#1578 Make `-` in filenames `_`
  .buildkite/pipeline.yml
  experiments/AtmosGCM/baroclinic_wave.jl
  experiments/AtmosGCM/isothermal_zonal_flow.jl
  experiments/AtmosGCM/moist_baroclinic_wave_bulksfcflux.jl
  experiments/AtmosGCM/nonhydrostatic_gravity_wave.jl
  test/Atmos/Model/discrete_hydrostatic_balance.jl
Labels: bikeshedding

#1590 Remove dup tutorial link, add fmt, rm trailing spaces
  docs/list_of_tutorials.jl
  tutorials/Atmos/agnesi_hs_lin.jl
  tutorials/Atmos/agnesi_nh_lin.jl
  tutorials/Land/Soil/Coupled/equilibrium_test.jl
  tutorials/Land/Soil/Heat/bonan_heat_tutorial.jl
  tutorials/Land/Soil/Water/equilibrium_test.jl
  tutorials/Land/Soil/Water/hydraulic_functions.jl
Labels: Documentation
