Repository CliMA/ClimateMachine.jl, pull requests merged in 2020-07, with the labels that each got.

#1301 Replace `copy_stack_field_down!` with broadcasts of reshaped MPIStateArrays
  docs/src/APIs/BalanceLaws/BalanceLaws.md
  src/BalanceLaws/BalanceLaws.jl
  src/Numerics/DGMethods/DGMethods.jl
  src/Numerics/DGMethods/DGModel.jl
  src/Numerics/DGMethods/DGModel_kernels.jl
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
Labels: Defensive programming, Ocean

#1312 Add model parameter for convective adjustment diffusivity
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
Labels: Defensive programming, Ocean

#1309 Add turbulence convection skeleton
  docs/list_of_apis.jl
  docs/src/APIs/Common/TurbulenceConvection.md
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/boundaryconditions.jl
  src/ClimateMachine.jl
  src/Common/TurbulenceConvection/TurbulenceConvection.jl
  src/Common/TurbulenceConvection/boundary_conditions.jl
  src/Common/TurbulenceConvection/source.jl
Labels: AtmosTCC

#1313 Prep thermodynamics for gpu unit tests
  docs/src/HowToGuides/Common/Thermodynamics.md
  test/Common/Thermodynamics/profiles.jl
  test/Common/Thermodynamics/runtests.jl
Labels: Thermodynamics

#1299 sync cb_ctk with #1224
  src/Driver/Driver.jl
Labels: Bug-fix

#1276 Diagnostics group for perturbations from horizontal averages
  docs/src/APIs/Diagnostics/Diagnostics.md
  experiments/AtmosLES/surfacebubble.jl
  src/Diagnostics/Diagnostics.jl
  src/Diagnostics/atmos_les_default_perturbations.jl
  src/Diagnostics/groups.jl
Labels: Diagnostics

#1325 Update RunningClimateMachine.md
  docs/src/GettingStarted/RunningClimateMachine.md
Labels: Documentation

#1318 Remove some duplicate test cases from Ocean CI for faster turn around
  test/Ocean/HydrostaticBoussinesq/test_divergence_free.jl
  test/Ocean/HydrostaticBoussinesq/test_ocean_gyre.jl
  test/Ocean/refvals/test_ocean_gyre_refvals.jl
Labels: CI, Ocean

#1326 Add documentation for `ClimateMachine` settings
  docs/src/APIs/Diagnostics/Diagnostics.md
  docs/src/DevDocs/DiagnosticVariables.md
  docs/src/DevDocs/VariableList.md
  docs/src/GettingStarted/RunningClimateMachine.md
Labels: Documentation

#1322 Simpler calculation of hyperdiffusive variables indices
  src/Numerics/DGMethods/DGModel.jl
  src/Numerics/DGMethods/DGModel_kernels.jl
Labels: AtmosDycore

#1337 Allow equispaced output in VTK
  src/Driver/Callbacks/Callbacks.jl
  src/Driver/Driver.jl
  src/InputOutput/VTK/writepvtu.jl
  src/InputOutput/VTK/writevtk.jl
  test/Numerics/DGMethods/Euler/acousticwave_1d_imex.jl
  test/Numerics/DGMethods/Euler/acousticwave_mrigark.jl
  test/Numerics/DGMethods/Euler/isentropicvortex.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_imex.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_mrigark.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_mrigark_implicit.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_multirate.jl
  test/Numerics/DGMethods/advection_diffusion/advection_diffusion_model_1dimex_bgmres.jl
  test/Numerics/DGMethods/advection_diffusion/advection_sphere.jl
  test/Numerics/DGMethods/advection_diffusion/periodic_3D_hyperdiffusion.jl
  test/Numerics/DGMethods/advection_diffusion/pseudo1D_advection_diffusion.jl
  test/Numerics/DGMethods/advection_diffusion/pseudo1D_advection_diffusion_1dimex.jl
  test/Numerics/DGMethods/advection_diffusion/pseudo1D_advection_diffusion_mrigark_implicit.jl
  test/Numerics/DGMethods/advection_diffusion/pseudo1D_heat_eqn.jl
  test/Numerics/Mesh/min_node_distance.jl
  tutorials/Numerics/DGMethods/nonnegative.jl
Labels: IO

#1373 Add turbconv integral hooks to AtmosModel
  src/Atmos/Model/AtmosModel.jl
  src/Common/TurbulenceConvection/TurbulenceConvection.jl
Labels: AtmosTCC

#1366 add les diagnostic variable attributes
  src/Diagnostics/atmos_les_core.jl
  src/Diagnostics/atmos_les_default.jl
  src/Diagnostics/atmos_les_default_perturbations.jl
  src/Diagnostics/atmos_refstate_perturbations.jl
  src/Diagnostics/variables.jl
Labels: Diagnostics, Draft

#1268 Couple the HBModel and SWModel for use in the Split-Explicit Stepper
  experiments/OceanBoxGCM/refvals/ocean_gyre_refvals.jl
  src/Numerics/ODESolvers/SplitExplicitMethod.jl
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
  src/Ocean/HydrostaticBoussinesq/SimpleBoxProblem.jl
  src/Ocean/Ocean.jl
  src/Ocean/ShallowWater/ShallowWaterModel.jl
  src/Ocean/SplitExplicit/Communication.jl
  src/Ocean/SplitExplicit/HydrostaticBoussinesqCoupling.jl
  src/Ocean/SplitExplicit/ShallowWaterCoupling.jl
  src/Ocean/SplitExplicit/SplitExplicitModel.jl
  test/Ocean/HydrostaticBoussinesq/test_divergence_free.jl
  test/Ocean/HydrostaticBoussinesq/test_ocean_gyre.jl
  test/Ocean/ShallowWater/2D_hydrostatic_spindown.jl
  test/Ocean/ShallowWater/GyreDriver.jl
  test/Ocean/ShallowWater/GyreInABox.jl
  test/Ocean/SplitExplicit/hydrostatic_spindown.jl
  test/Ocean/SplitExplicit/test_vertical_integral_model.jl
  test/Ocean/refvals/2D_hydrostatic_spindown_refvals.jl
  test/Ocean/refvals/3D_hydrostatic_spindown_refvals.jl
  test/Ocean/refvals/hydrostatic_spindown_refvals.jl
  test/Ocean/refvals/test_ocean_gyre_refvals.jl
Labels: Ocean, Timestepping

#1379 Fix integral kernel args in `RadiationModel `
  src/Atmos/Model/radiation.jl
Labels: bug

#1369 Unify problem interface between SWModel and HBModel
  docs/list_of_apis.jl
  docs/src/APIs/Ocean/HydrostaticBoussinesq.md
  docs/src/APIs/Ocean/Ocean.md
  experiments/OceanBoxGCM/homogeneous_box.jl
  experiments/OceanBoxGCM/ocean_gyre.jl
  slurmci-test.toml
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
  src/Ocean/HydrostaticBoussinesq/bc_temperature.jl
  src/Ocean/HydrostaticBoussinesq/bc_velocity.jl
  src/Ocean/Ocean.jl
  src/Ocean/OceanProblems/ShallowWaterInitialStates.jl
  src/Ocean/OceanProblems/SimpleBoxProblem.jl
  src/Ocean/ShallowWater/ShallowWaterModel.jl
  test/Ocean/HydrostaticBoussinesq/3D_hydrostatic_spindown.jl
  test/Ocean/HydrostaticBoussinesq/test_divergence_free.jl
  test/Ocean/HydrostaticBoussinesq/test_ocean_gyre.jl
  test/Ocean/ShallowWater/2D_hydrostatic_spindown.jl
  test/Ocean/ShallowWater/GyreDriver.jl
  test/Ocean/SplitExplicit/hydrostatic_spindown.jl
  test/Ocean/SplitExplicit/test_vertical_integral_model.jl
  test/Ocean/refvals/hydrostatic_spindown_refvals.jl
Labels: Ocean, Refactor

#1374 Fix GCM benchmarks and add to Slurm CI
  experiments/AtmosGCM/baroclinic-wave.jl
  experiments/AtmosGCM/isothermal-zonal-flow.jl
  experiments/AtmosGCM/nonhydrostatic-gravity-wave.jl
  slurmci-test.toml
Labels: Bug-fix, tests

#1017 Handle freezing case in saturation adjustment
  src/Common/Thermodynamics/relations.jl
  test/Common/Thermodynamics/runtests.jl
Labels: Thermodynamics

#1342 Em/agl/kd/land framework
  .github/workflows/Linux-UnitTests.yml
  docs/src/APIs/Land/LandModel.md
  docs/src/APIs/Land/SoilWaterParameterizations.md
  slurmci-test.toml
  src/Land/Model/LandModel.jl
  src/Land/Model/SoilWaterParameterizations.jl
  src/Land/Model/land_bc.jl
  src/Land/Model/soil_bc.jl
  src/Land/Model/soil_heat.jl
  src/Land/Model/soil_model.jl
  src/Land/Model/soil_water.jl
  src/Land/Model/source.jl
  test/Land/Model/constant_moisture_model.jl
  test/Land/Model/haverkamp_test.jl
  test/Land/Model/prescribed_twice.jl
  test/Land/Model/runtests.jl
  test/Land/Model/test_bc.jl
  test/Land/Model/test_water_parameterizations.jl
  tutorials/Land/Soil/Water/equilibrium_test.jl
Labels: land - soil - water

#1399 Improve and clarify heat eq tutorial
  docs/plothelpers.jl
  tutorials/Atmos/burgers_single_stack.jl
  tutorials/Land/Heat/heat_equation.jl
Labels: Documentation

#1372 Added divergence damping and model orientation
  tutorials/Atmos/burgers_single_stack.jl
Labels: tutorials

#1403 Fix plot legend in plothelpers.jl
  docs/plothelpers.jl
  tutorials/Atmos/burgers_single_stack.jl
Labels: tutorials

#1396 Hack in writing and reading checkpoint files for split-explicit method
  slurmci-test.toml
  src/Utilities/Checkpoint/Checkpoint.jl
  test/Ocean/SplitExplicit/hydrostatic_spindown.jl
  test/Ocean/SplitExplicit/test_restart.jl
Labels: IO, Ocean
