Repository CliMA/ClimateMachine.jl, pull requests merged in 2020-02, with the labels that each got.

#671 Bound `q_tot` in thermo state
  src/Common/MoistThermodynamics/states.jl
Labels: moist-thermo

#680 Add isentropic relations
  src/Common/MoistThermodynamics/MoistThermodynamics.jl
  src/Common/MoistThermodynamics/isentropic.jl
  test/Common/MoistThermodynamics/runtests.jl
Labels: moist-thermo

#642 Add DYCOMS data for MT tests
  Manifest.toml
  Project.toml
  test/Common/MoistThermodynamics/runtests.jl
  test/Common/MoistThermodynamics/testdata.jl
  test/Common/MoistThermodynamics/update_constructor_data.jl
  test/runtests.jl
Labels: moist-thermo

#622 Interpolation machinery
  Manifest.toml
  Project.toml
  src/Mesh/Interpolation.jl
  test/Mesh/interpolation.jl
Labels: DG Kernels

#689 First attempt at running an Ocean model with Driver + Configuration setup.
  .gitignore
  examples/Atmos/dry_rayleigh_benard.jl
  experiments/Atmos_GCM/heldsuarez.jl
  experiments/Atmos_LES/dycoms.jl
  experiments/Atmos_LES/risingbubble.jl
  experiments/Ocean_BoxGCM/homogeneous_box.jl
  experiments/Ocean_BoxGCM/ocean_gyre.jl
  slurmci-test.toml
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/linear.jl
  src/CLIMA.jl
  src/DGmethods/balancelaw.jl
  src/Driver/Configurations.jl
  src/Driver/Driver.jl
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
  src/Ocean/HydrostaticBoussinesq/SimpleBoxProblem.jl
  src/Ocean/ShallowWater/ShallowWaterModel.jl
  test/Diagnostics/sin_test.jl
  test/Driver/driver_test.jl
  test/Ocean/Hydrostatic_Boussinesq/simple_box.jl
  test/Ocean/Hydrostatic_Boussinesq/simple_box_IMEX.jl
  test/Ocean/Hydrostatic_Boussinesq/test_divergence_free.jl
  test/Ocean/Hydrostatic_Boussinesq/test_divergence_free_IMEX.jl
  test/Ocean/ShallowWater/GyreDriver.jl
  test/Ocean/ShallowWater/GyreInABox.jl
Labels: Ocean

#716 Cleaning up Ocean Model files and adding documentation
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
  src/Ocean/HydrostaticBoussinesq/LinearHBModel.jl
  src/Ocean/HydrostaticBoussinesq/OceanBoundaryConditions.jl
  src/Ocean/HydrostaticBoussinesq/SimpleBoxProblem.jl
  test/Ocean/Hydrostatic_Boussinesq/test_divergence_free.jl
Labels: Documentation, Ocean

#727 New approach to doing integrals
  experiments/Atmos_LES/dycoms.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/linear.jl
  src/Atmos/Model/radiation.jl
  src/Atmos/Model/remainder.jl
  src/DGmethods/DGmodel.jl
  src/DGmethods/DGmodel_kernels.jl
  src/DGmethods/balancelaw.jl
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
  test/DGmethods/integral_test.jl
  test/DGmethods/integral_test_sphere.jl
Labels: DG Kernels

#745 Replace 'M' and 'P' with '⁻' and '+'
  src/DGmethods/DGmodel.jl
  src/DGmethods/DGmodel_kernels.jl
  src/DGmethods/NumericalFluxes.jl
  src/DGmethods/balancelaw.jl
  src/DGmethods_old/DGBalanceLawDiscretizations.jl
  src/DGmethods_old/DGBalanceLawDiscretizations_kernels.jl
  src/Mesh/BrickMesh.jl
  src/Mesh/Grids.jl
  test/Mesh/BrickMesh.jl
  test/Mesh/mpi_connect_sphere.jl
Labels: DG Kernels, Naming Conventions

#658 Add hyperdiffusion
  examples/Atmos/dry_rayleigh_benard.jl
  experiments/Atmos_LES/dycoms.jl
  experiments/Atmos_LES/surfacebubble.jl
  slurmci-test.toml
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/boundaryconditions.jl
  src/Atmos/Model/linear.jl
  src/Atmos/Model/remainder.jl
  src/DGmethods/DGmethods.jl
  src/DGmethods/DGmodel.jl
  src/DGmethods/DGmodel_kernels.jl
  src/DGmethods/NumericalFluxes.jl
  src/DGmethods/balancelaw.jl
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
  src/Ocean/HydrostaticBoussinesq/LinearHBModel.jl
  src/Ocean/ShallowWater/ShallowWaterModel.jl
  test/DGmethods/advection_diffusion/advection_diffusion_model.jl
  test/DGmethods/advection_diffusion/hyperdiffusion_model.jl
  test/DGmethods/advection_diffusion/periodic_3D_hyperdiffusion.jl
  test/DGmethods/advection_diffusion/pseudo1D_heat_eqn.jl
  test/DGmethods/compressible_Navier_Stokes/mms_model.jl
  test/LinearSolvers/poisson.jl
Labels: DG Kernels

#774 Fixing runtests for systems with OpenMPI and less than 5 physical cores
  test/testhelpers.jl
Labels: Continuous Integration, Installation, bug

#677 Add isentropic temperature profile
  experiments/Atmos_LES/risingbubble.jl
  src/Atmos/Model/ref_state.jl
  test/DGmethods/compressible_Navier_Stokes/density_current-model.jl
Labels: Atmos

#782 Interpolated velocity is projected along the rad, lat, and long direc…
  slurmci-test.toml
  src/Mesh/Interpolation.jl
  test/Mesh/interpolation.jl
Labels: Diagnostics, Interpolation

#781 Add `data_config` to `AtmosModel`
  examples/Atmos/dry_rayleigh_benard.jl
  experiments/Atmos_GCM/heldsuarez.jl
  src/Atmos/Model/AtmosModel.jl
Labels: Atmos

#711 Allow driver specific saturation adjustment tolerance in EquilMoist
  experiments/Atmos_LES/dycoms.jl
  experiments/Atmos_LES/surfacebubble.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/moisture.jl
Labels: Atmos
