Repository CliMA/ClimateMachine.jl, pull requests merged in 2020-01, with the labels that each got.

#608 Add quadratic term to air temperature Taylor expansion
  src/Common/MoistThermodynamics/MoistThermodynamics.jl
  test/Common/MoistThermodynamics/runtests.jl
Labels: moist-thermo

#585 The interpolation machinery is developed for a brick type geometry. …
  src/Mesh/BrickMesh.jl
  src/Mesh/Interpolation.jl
  src/Mesh/Mesh.jl
  src/Mesh/Topologies.jl
  test/Mesh/BrickMesh.jl
  test/Mesh/interpolation.jl
  test/Mesh/runtests.jl
Labels: DG Kernels, Diagnostics

#617 Add `update_aux_diffusive!` and remove VSModel from HBModel
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/linear.jl
  src/DGmethods/DGmodel.jl
  src/DGmethods/DGmodel_kernels.jl
  src/Ocean/Model/HydrostaticBoussinesqModel.jl
  test/DGmethods/integral_test.jl
  test/DGmethods/integral_test_sphere.jl
  test/Ocean/Hydrostatic_Boussinesq/simple_box.jl
Labels: DG Kernels, Ocean

#637 Add `maxiter` to `EquilMoist`, reorder (`tol,maxiter`)
  src/Atmos/Model/moisture.jl
  src/Common/MoistThermodynamics/states.jl
  test/Common/MoistThermodynamics/runtests.jl
Labels: moist-thermo

#597 Driver+configurations
  Manifest.toml
  Project.toml
  examples/DGmethods/ex_001_dycoms-imex.jl
  examples/DGmethods/ex_001_dycoms.jl
  experiments/GCM/heldsuarez.jl
  experiments/LES/dycoms.jl
  slurmci-test.toml
  src/Atmos/Model/boundaryconditions.jl
  src/CLIMA.jl
  src/DGmethods/NumericalFluxes.jl
  src/Driver/Configurations.jl
  src/Driver/Driver.jl
  src/Mesh/Topologies.jl
  src/misc.jl
  test/DGmethods/advection_diffusion/pseudo1D_advection_diffusion.jl
  test/Driver/driver_test.jl
  test/Driver/runtests.jl
  test/LinearSolvers/runtests.jl
  test/runtests.jl
Labels: CLIMA, User Interface

#647 Azure: disable modification of hosts
  azure-pipelines.yml
Labels: Continuous Integration

#654 Add `vapor_specific_humidity`
  src/Common/MoistThermodynamics/MoistThermodynamics.jl
  test/Common/MoistThermodynamics/runtests.jl
Labels: moist-thermo

#630 diffusive_penalty! -> numerical_flux_gradient!
  examples/Atmos/heldsuarez.jl
  examples/DGmethods/ex_001_dycoms-imex.jl
  examples/DGmethods/ex_001_dycoms.jl
  src/Atmos/Model/AtmosModel.jl
  src/DGmethods/DGmodel_kernels.jl
  src/DGmethods/NumericalFluxes.jl
  src/DGmethods/balancelaw.jl
  src/Driver/Configurations.jl
  src/Ocean/Model/HydrostaticBoussinesqModel.jl
  src/Ocean/Model/ShallowWaterModel.jl
  test/DGmethods/Euler/acousticwave-1d-imex.jl
  test/DGmethods/Euler/isentropicvortex-imex.jl
  test/DGmethods/Euler/isentropicvortex-multirate.jl
  test/DGmethods/Euler/isentropicvortex.jl
  test/DGmethods/advection_diffusion/advection_diffusion_model.jl
  test/DGmethods/advection_diffusion/pseudo1D_advection_diffusion.jl
  test/DGmethods/advection_diffusion/pseudo1D_advection_diffusion_1dimex.jl
  test/DGmethods/compressible_Navier_Stokes/density_current-model.jl
  test/DGmethods/compressible_Navier_Stokes/mms_bc_atmos.jl
  test/DGmethods/compressible_Navier_Stokes/mms_bc_dgmodel.jl
  test/DGmethods/compressible_Navier_Stokes/mms_model.jl
  test/DGmethods/compressible_Navier_Stokes/rayleigh-benard_model.jl
  test/DGmethods/compressible_Navier_Stokes/ref_state.jl
  test/DGmethods/compressible_Navier_Stokes/rising_bubble-model-imex.jl
  test/DGmethods/compressible_Navier_Stokes/rising_bubble-model.jl
  test/DGmethods/integral_test.jl
  test/DGmethods/integral_test_sphere.jl
  test/Diagnostics/dycoms_sin_test.jl
  test/LinearSolvers/bandedsystem.jl
  test/LinearSolvers/poisson.jl
  test/Mesh/interpolation.jl
  test/Ocean/Hydrostatic_Boussinesq/simple_box.jl
  test/Ocean/Hydrostatic_Boussinesq/test_divergence_free.jl
  test/Ocean/shallow_water/GyreDriver.jl
Labels: DG Kernels
