Repository CliMA/ClimateMachine.jl, pull requests merged in 2020-10, with the labels that each got.

#1605 Fix depreciated constructor call to `BigFloat`
  src/Numerics/Mesh/BrickMesh.jl
Labels: House cleaning

#1583 Integrate SplitExplicit01 code with OceanProblems code
  experiments/OceanSplitExplicit/simple_box.jl
  src/Numerics/ODESolvers/SplitExplicitMethod.jl
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
  src/Ocean/Ocean.jl
  src/Ocean/OceanBC.jl
  src/Ocean/OceanProblems/SimpleBoxProblem.jl
  src/Ocean/ShallowWater/ShallowWaterModel.jl
  src/Ocean/ShallowWater/bc_velocity.jl
  src/Ocean/SplitExplicit01/BarotropicModel.jl
  src/Ocean/SplitExplicit01/Continuity3dModel.jl
  src/Ocean/SplitExplicit01/OceanBoundaryConditions.jl
  src/Ocean/SplitExplicit01/OceanModel.jl
  src/Ocean/SplitExplicit01/SplitExplicitLSRK2nMethod.jl
  src/Ocean/SplitExplicit01/SplitExplicitModel.jl
  test/Ocean/SplitExplicit/hydrostatic_spindown.jl
  test/Ocean/SplitExplicit/simple_box_ivd.jl
  test/Ocean/SplitExplicit/split_explicit.jl
  test/Ocean/SplitExplicit/test_restart.jl
  test/Ocean/SplitExplicit/test_simple_box.jl
  test/Ocean/SplitExplicit/test_spindown_long.jl
  test/Ocean/SplitExplicit/test_spindown_short.jl
Labels: Ocean, Refactor, User Interface

#1607 Revert #1331
  src/Diagnostics/Debug/StateCheck.jl
Labels: Bug-fix, User Interface

#1610 Add SplitExplicitLSRK2nSolver to mini-driver setup
  experiments/OceanBoxGCM/simple_box.jl
  src/Ocean/SplitExplicit01/Continuity3dModel.jl
  test/Ocean/SplitExplicit/hydrostatic_spindown.jl
  test/Ocean/SplitExplicit/split_explicit.jl
  test/Ocean/SplitExplicit/test_coriolis.jl
  test/Ocean/SplitExplicit/test_spindown_short.jl
Labels: Ocean, User Interface, tests

#1617 Add dry thermo constructor
  docs/src/APIs/Common/Thermodynamics.md
  src/Common/Thermodynamics/states.jl
  test/Common/Thermodynamics/runtests.jl
Labels: Thermodynamics

#1532 add dycore test cases
  .buildkite/pipeline.yml
  experiments/TestCase/baroclinic_wave.jl
  experiments/TestCase/risingbubble.jl
  experiments/TestCase/solid_body_rotation.jl
Labels: Atmos, tests

#1630 Apply abs to temperature in sat adjust
  src/Common/Thermodynamics/relations.jl
Labels: Thermodynamics

#1631 Improve thermo names
  docs/src/APIs/Common/Thermodynamics.md
  docs/src/Theory/Atmos/Microphysics.md
  experiments/AtmosLES/bomex_model.jl
  experiments/AtmosLES/dycoms.jl
  experiments/AtmosLES/stable_bl_kosovic.jl
  experiments/AtmosLES/surfacebubble.jl
  experiments/AtmosLES/unstable_bl_kitamura.jl
  src/Atmos/Model/bc_energy.jl
  src/Atmos/Model/ref_state.jl
  src/Atmos/Model/source.jl
  src/Common/Thermodynamics/states.jl
  test/Atmos/EDMF/helper_funcs/subdomain_thermo_states.jl
  test/Atmos/Parameterizations/Microphysics/KM_ice.jl
  test/Atmos/Parameterizations/Microphysics/KM_warm_rain.jl
  test/Atmos/Parameterizations/Microphysics/KinematicModel.jl
  test/Common/Thermodynamics/runtests.jl
  test/Diagnostics/diagnostic_fields_test.jl
  test/Diagnostics/sin_test.jl
  test/Driver/cr_unit_tests.jl
  test/Driver/driver_test.jl
  test/Driver/gcm_driver_test.jl
  test/Numerics/DGMethods/Euler/acousticwave_1d_imex.jl
  test/Numerics/DGMethods/Euler/acousticwave_mrigark.jl
  test/Numerics/DGMethods/Euler/isentropicvortex.jl
  test/Numerics/DGMethods/compressible_Navier_Stokes/density_current_model.jl
  tutorials/Atmos/dry_rayleigh_benard.jl
Labels: Thermodynamics

#1636 Add broadcast rule to param_set in thermo
  src/Common/Thermodynamics/Thermodynamics.jl
  test/Common/Thermodynamics/runtests.jl
Labels: House cleaning, Thermodynamics

#1635 Simplify the PR and issue templates
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/GENERAL_ISSUE.md
  .github/issue_template.md
  .github/pull_request_template.md
  .github/pull_request_template.md.bak
Labels: ClimateMachine

#1627 Clean up old code in metric functions
  src/Numerics/Mesh/Metrics.jl
Labels: House cleaning

#1622 Refactor UniversalFunctions, add SurfaceFluxes test based on LES data
  Manifest.toml
  docs/Manifest.toml
  docs/list_of_how_to_guides.jl
  docs/src/APIs/Common/SurfaceFluxes.md
  docs/src/HowToGuides/Common/UniversalFunctions.md
  src/Common/SurfaceFluxes/SurfaceFluxes.jl
  src/Common/SurfaceFluxes/UniversalFunctions.jl
  test/Common/SurfaceFluxes/runtests.jl
  test/Common/SurfaceFluxes/test_universal_functions.jl
Labels: SurfaceFluxes

#1624 Testing three-line change hacky approach for index coords in aux that I am finding useful in inner code debug, and that may be useful for others?
  src/Numerics/Mesh/Geometry.jl
Labels: Defensive programming, Diagnostics, Ocean

#1639 Fix 1638
  src/Atmos/Model/AtmosModel.jl
  src/Common/TurbulenceClosures/TurbulenceClosures.jl
Labels: Bug-fix

#1626 add netcdf output to Kinematic Model tests
  test/Atmos/Parameterizations/Microphysics/KM_ice.jl
  test/Atmos/Parameterizations/Microphysics/KM_saturation_adjustment.jl
  test/Atmos/Parameterizations/Microphysics/KM_warm_rain.jl
  test/Atmos/Parameterizations/Microphysics/KinematicModel.jl
Labels: Microphysics, tests

#1642 Limit exported thermodynamic methods
  docs/src/APIs/Common/Thermodynamics.md
  docs/src/HowToGuides/Atmos/TemperatureProfiles.md
  src/Atmos/Model/ref_state.jl
  src/Common/Thermodynamics/isentropic.jl
  src/Common/Thermodynamics/relations.jl
  src/Common/Thermodynamics/states.jl
  test/Atmos/Model/ref_state.jl
  test/Common/Thermodynamics/runtests.jl
Labels: Thermodynamics

#1559 1D and 2D energy spectra for GCM
  docs/src/APIs/Common/Spectra.md
  docs/src/APIs/Diagnostics/Diagnostics.md
  experiments/AtmosGCM/GCMDriver/GCMDriver.jl
  experiments/AtmosLES/taylor_green.jl
  src/Arrays/MPIStateArrays.jl
  src/Atmos/Model/AtmosModel.jl
  src/Common/Spectra/Spectra.jl
  src/Common/Spectra/power_spectrum_gcm.jl
  src/Common/Spectra/power_spectrum_les.jl
  src/Common/Spectra/spherical_helper.jl
  src/Diagnostics/Diagnostics.jl
  src/Diagnostics/atmos_gcm_spectra.jl
  src/Diagnostics/atmos_les_spectra.jl
  src/Diagnostics/groups.jl
  src/Driver/diagnostics_configs.jl
  src/Numerics/Mesh/Metrics.jl
  test/Atmos/EDMF/helper_funcs/subdomain_thermo_states.jl
  test/Common/Spectra/runtests.jl
  test/Common/Spectra/spherical_helper_test.jl
  test/Common/Spectra/standalone_visual_test.jl
  test/Numerics/DGMethods/Euler/acousticwave_1d_imex.jl
  test/Numerics/DGMethods/Euler/acousticwave_mrigark.jl
  tutorials/Atmos/dry_rayleigh_benard.jl
Labels: Diagnostics

#1647 Make `recover_thermo_state` call `new_thermo_state`
  docs/src/HowToGuides/Atmos/MoistureModelChoices.md
  src/Atmos/Model/thermo_states.jl
Labels: Boundary Conditions, Thermodynamics

#1651 Add supersaturation interface method
  src/Common/Thermodynamics/Thermodynamics.jl
  src/Common/Thermodynamics/relations.jl
  test/Common/Thermodynamics/runtests.jl
Labels: Thermodynamics

#1655 Add cd in the instructions - just for quick copy/paste
  docs/src/GettingStarted/Installation.md
Labels: Documentation, enhancement

#1650 Cleanup in Kinematic Model tests
  .buildkite/pipeline.yml
  src/Atmos/Parameterizations/CloudPhysics/Microphysics.jl
  test/Atmos/Parameterizations/Microphysics/KM_ice.jl
  test/Atmos/Parameterizations/Microphysics/KM_saturation_adjustment.jl
  test/Atmos/Parameterizations/Microphysics/KM_warm_rain.jl
  test/Atmos/Parameterizations/Microphysics/KinematicModel.jl
Labels: Microphysics, tests

#1660 Interpolate duplicate lgl points in `get_vars_from_nodal_stack`
  docs/plothelpers.jl
  docs/src/HowToGuides/Atmos/AtmosReferenceState.md
  src/Numerics/Mesh/Grids.jl
  src/Utilities/SingleStackUtils/SingleStackUtils.jl
  test/Atmos/EDMF/bomex_edmf.jl
  test/Atmos/EDMF/bomex_edmf_regression_test.jl
  test/Atmos/Model/ref_state.jl
  tutorials/Atmos/burgers_single_stack.jl
  tutorials/Atmos/burgers_single_stack_bjfnk.jl
  tutorials/Land/Heat/heat_equation.jl
  tutorials/Numerics/DGMethods/Box1D.jl
Labels: enhancement

#1669 Reduce the ice test length
  test/Atmos/Parameterizations/Microphysics/KM_ice.jl
Labels: Microphysics, bug

#1654 Add DGModel outer constructor
  src/Driver/driver_configs.jl
  src/Driver/solver_configs.jl
  test/Driver/mms3.jl
  test/Land/Model/haverkamp_implicit_test.jl
  tutorials/Atmos/burgers_single_stack_bjfnk.jl
Labels: User Interface

#1681 Prep support for dry turbconv
  test/Atmos/EDMF/bomex_edmf.jl
  test/Atmos/EDMF/closures/surface_functions.jl
  test/Atmos/EDMF/edmf_kernels.jl
Labels: AtmosTCC

#1683 Add new PhaseDry thermodynamic state constructor
  docs/src/APIs/Common/Thermodynamics.md
  src/Common/Thermodynamics/states.jl
  test/Common/Thermodynamics/runtests.jl
Labels: Thermodynamics

#1684 Fix race condition with Haverkamp artifact file
  test/Land/Model/haverkamp_implicit_test.jl
Labels: bug

#1686 Add `relative_humidity` for `PhaseDry`
  src/Common/Thermodynamics/relations.jl
Labels: Thermodynamics, optimization
