Repository CliMA/ClimateMachine.jl, pull requests merged in 2020-03, with the labels that each got.

#732 Fix deprecation warning caused by new package
  Manifest.toml
  src/Driver/Driver.jl
Labels: Julia

#747 adding templates for ISSUE and PR templates
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/GENERAL_ISSUE.md
  .github/pull_request_template.md
  .github/pull_request_template.md.bak
Labels: Documentation

#777 Fix ArrayType in a few tests
  test/DGmethods/courant.jl
  test/Ocean/Hydrostatic_Boussinesq/simple_box.jl
  test/Ocean/Hydrostatic_Boussinesq/simple_box_IMEX.jl
  test/Ocean/Hydrostatic_Boussinesq/test_divergence_free.jl
  test/Ocean/Hydrostatic_Boussinesq/test_divergence_free_IMEX.jl
Labels: bug

#790 Remove some random perturbations for DYCOMS
  experiments/Atmos_LES/dycoms.jl
Labels: Atmos

#804 `using LinearAlgebra` in AtmosDiagnostics
  src/Diagnostics/AtmosDiagnostics.jl
Labels: Diagnostics

#784 Export directions from Grids
  src/DGmethods/DGmodel_kernels.jl
  src/Driver/Driver.jl
  src/LinearSolvers/ColumnwiseLUSolver.jl
  src/Mesh/Grids.jl
  test/DGmethods/Euler/acousticwave-1d-imex.jl
  test/DGmethods/advection_diffusion/direction_splitting_advection_diffusion.jl
  test/DGmethods/advection_diffusion/periodic_3D_hyperdiffusion.jl
  test/DGmethods/advection_diffusion/pseudo1D_advection_diffusion.jl
  test/DGmethods/advection_diffusion/pseudo1D_advection_diffusion_1dimex.jl
  test/DGmethods/advection_diffusion/pseudo1D_heat_eqn.jl
  test/DGmethods/courant.jl
  test/DGmethods_old/util/filter_test.jl
  test/LinearSolvers/bandedsystem.jl
  test/Mesh/min_node_distance.jl
Labels: DG Kernels

#813 improve formatting of simtime and endtime in logging
  src/Driver/Driver.jl
Labels: User Interface

#815 Make tests flexibly callable
  test/Atmos/Parameterizations/runtests.jl
  test/Atmos/runtests.jl
  test/Common/runtests.jl
  test/Utilities/runtests.jl
  test/runtests.jl
Labels: Continuous Integration

#811 Replaces `forcecpu` with `init_on_cpu` for clarity
  examples/Atmos/dry_rayleigh_benard.jl
  experiments/Atmos_GCM/heldsuarez.jl
  experiments/Atmos_LES/dycoms.jl
  experiments/Atmos_LES/risingbubble.jl
  experiments/Atmos_LES/surfacebubble.jl
  experiments/Ocean_BoxGCM/homogeneous_box.jl
  experiments/Ocean_BoxGCM/ocean_gyre.jl
  src/DGmethods/DGmodel.jl
  src/Driver/Driver.jl
  test/DGmethods/advection_diffusion/direction_splitting_advection_diffusion.jl
  test/DGmethods/compressible_Navier_Stokes/mms_bc_atmos.jl
  test/Diagnostics/sin_test.jl
  test/Ocean/Hydrostatic_Boussinesq/simple_box.jl
  test/Ocean/Hydrostatic_Boussinesq/simple_box_IMEX.jl
  test/Ocean/Hydrostatic_Boussinesq/test_divergence_free.jl
  test/Ocean/Hydrostatic_Boussinesq/test_divergence_free_IMEX.jl
Labels: CLIMA, User Interface

#810 Driver: reorganize and rename
  examples/Atmos/dry_rayleigh_benard.jl
  experiments/AtmosGCM/heldsuarez.jl
  experiments/AtmosLES/dycoms.jl
  experiments/AtmosLES/risingbubble.jl
  experiments/AtmosLES/surfacebubble.jl
  experiments/OceanBoxGCM/homogeneous_box.jl
  experiments/OceanBoxGCM/ocean_gyre.jl
  slurmci-test.toml
  src/Arrays/CMBuffers.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/boundaryconditions.jl
  src/Atmos/Model/courant.jl
  src/Atmos/Model/orientation.jl
  src/Atmos/Parameterizations/SubgridScaleTurbulence/SubgridScaleParameters.jl
  src/CLIMA.jl
  src/Common/ConfigTypes/ConfigTypes.jl
  src/DGmethods/DGmodel.jl
  src/DGmethods/DGmodel_kernels.jl
  src/DGmethods/balancelaw.jl
  src/Driver/Driver.jl
  src/Driver/driver_configs.jl
  src/Driver/solver_configs.jl
  src/Mesh/BrickMesh.jl
  src/Mesh/Geometry.jl
  src/Mesh/Grids.jl
  src/Mesh/Interpolation.jl
  src/Mesh/Topologies.jl
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
  src/Ocean/HydrostaticBoussinesq/LinearHBModel.jl
  src/Ocean/HydrostaticBoussinesq/SimpleBoxProblem.jl
  test/Arrays/basics.jl
  test/Arrays/broadcasting.jl
  test/DGmethods/Euler/acousticwave-1d-imex.jl
  test/DGmethods/Euler/isentropicvortex-imex.jl
  test/DGmethods/Euler/isentropicvortex-multirate.jl
  test/DGmethods/Euler/isentropicvortex.jl
  test/DGmethods/advection_diffusion/advection_diffusion_model.jl
  test/DGmethods/advection_diffusion/direction_splitting_advection_diffusion.jl
  test/DGmethods/advection_diffusion/periodic_3D_hyperdiffusion.jl
  test/DGmethods/compressible_Navier_Stokes/density_current-model.jl
  test/DGmethods/compressible_Navier_Stokes/mms_bc_atmos.jl
  test/DGmethods/compressible_Navier_Stokes/ref_state.jl
  test/DGmethods/courant.jl
  test/DGmethods_old/Euler/RTB_IMEX.jl
  test/DGmethods_old/Euler/isentropic_vortex_standalone_bc.jl
  test/DGmethods_old/Euler/isentropic_vortex_standalone_source.jl
  test/DGmethods_old/util/filter_test.jl
  test/Diagnostics/sin_test.jl
  test/Driver/driver_test.jl
  test/LinearSolvers/columnwiselu.jl
  test/Mesh/Geometry.jl
  test/Mesh/interpolation.jl
  test/Mesh/topology.jl
Labels: CLIMA, User Interface

#797 Create JuliaFormatter GitHub Action
  .dev/.gitignore
  .dev/Project.toml
  .dev/format.jl
  .github/pull_request_template.md
  .github/workflows/JuliaFormatter.yml
  CONTRIBUTING.md
Labels: CLIMA, Documentation

#802 Add `ParameterSets`
  Parameters/EarthParameters.jl
  Parameters/Parameters.jl
  Parameters/Planet.jl
  examples/Atmos/dry_rayleigh_benard.jl
  examples/DGmethods_old/ex_003_acoustic_wave.jl
  examples/Microphysics/ex_1_saturation_adjustment.jl
  examples/Microphysics/ex_2_Kessler.jl
  experiments/AtmosGCM/heldsuarez.jl
  experiments/AtmosLES/dycoms.jl
  experiments/AtmosLES/risingbubble.jl
  experiments/AtmosLES/surfacebubble.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/courant.jl
  src/Atmos/Model/linear.jl
  src/Atmos/Model/moisture.jl
  src/Atmos/Model/ref_state.jl
  src/Atmos/Parameterizations/CloudPhysics/Microphysics.jl
  src/CLIMA.jl
  src/Common/MoistThermodynamics/MoistThermodynamics.jl
  src/Common/MoistThermodynamics/isentropic.jl
  src/Common/MoistThermodynamics/states.jl
  src/Common/Parameters/Atmos.jl
  src/Common/Parameters/Parameters.jl
  src/Common/Parameters/Planet.jl
  src/Diagnostics/AtmosDiagnostics.jl
  src/Driver/driver_configs.jl
  test/Common/MoistThermodynamics/runtests.jl
  test/DGmethods/Euler/acousticwave-1d-imex.jl
  test/DGmethods/Euler/isentropicvortex-imex.jl
  test/DGmethods/Euler/isentropicvortex-multirate.jl
  test/DGmethods/Euler/isentropicvortex.jl
  test/DGmethods/compressible_Navier_Stokes/density_current-model.jl
  test/DGmethods/compressible_Navier_Stokes/mms_bc_atmos.jl
  test/DGmethods/compressible_Navier_Stokes/ref_state.jl
  test/DGmethods/courant.jl
  test/Diagnostics/sin_test.jl
  test/Driver/driver_test.jl
  test/Mesh/interpolation.jl
Labels: Free Parameters

#825 Update DYCOMS subsidence parameter to reflect 14400s offline simulations
  experiments/AtmosLES/dycoms.jl
Labels: Atmos

#814 Add a multirate solver type to driver
  experiments/AtmosLES/risingbubble.jl
  src/Driver/Driver.jl
  src/Driver/driver_configs.jl
  src/Driver/solver_configs.jl
  test/Driver/gcm_driver_test.jl
  test/Driver/runtests.jl
Labels: Timestepping

#822 Default CFL_max added for various time-stepping schemes for dycoms, r…
  Parameters/EarthParameters.jl
  Parameters/Planet.jl
  examples/Atmos/dry_rayleigh_benard.jl
  examples/DGmethods_old/ex_003_acoustic_wave.jl
  examples/Microphysics/ex_1_saturation_adjustment.jl
  examples/Microphysics/ex_2_Kessler.jl
  experiments/AtmosGCM/heldsuarez.jl
  experiments/AtmosLES/dycoms.jl
  experiments/AtmosLES/risingbubble.jl
  experiments/AtmosLES/surfacebubble.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/courant.jl
  src/Atmos/Model/linear.jl
  src/Atmos/Model/moisture.jl
  src/Atmos/Model/ref_state.jl
  src/Atmos/Parameterizations/CloudPhysics/Microphysics.jl
  src/CLIMA.jl
  src/Common/MoistThermodynamics/MoistThermodynamics.jl
  src/Common/MoistThermodynamics/isentropic.jl
  src/Common/MoistThermodynamics/states.jl
  src/Common/Parameters/Atmos.jl
  src/Common/Parameters/Parameters.jl
  src/Common/Parameters/Planet.jl
  src/Diagnostics/AtmosDiagnostics.jl
  src/Driver/solver_configs.jl
  test/Common/MoistThermodynamics/runtests.jl
  test/DGmethods/Euler/acousticwave-1d-imex.jl
  test/DGmethods/Euler/isentropicvortex-imex.jl
  test/DGmethods/Euler/isentropicvortex-multirate.jl
  test/DGmethods/Euler/isentropicvortex.jl
  test/DGmethods/compressible_Navier_Stokes/density_current-model.jl
  test/DGmethods/compressible_Navier_Stokes/mms_bc_atmos.jl
  test/DGmethods/compressible_Navier_Stokes/ref_state.jl
  test/DGmethods/courant.jl
  test/Diagnostics/sin_test.jl
  test/Driver/driver_test.jl
  test/Mesh/interpolation.jl
Labels: AtmosDycore

#833 rename flx to flux to avoid confusion
  src/Diagnostics/AtmosDiagnostics.jl
  src/Diagnostics/diagnostic_vars.jl
  test/Diagnostics/sin_test.jl
Labels: Atmos, Diagnostics, Naming Conventions

#823 Diagnostics: refactor and add interpolated diagnostics for Held Suarez
  .gitignore
  experiments/AtmosGCM/heldsuarez.jl
  experiments/AtmosLES/dycoms.jl
  src/Atmos/Model/moisture.jl
  src/Diagnostics/Diagnostics.jl
  src/Diagnostics/OceanDiagnostics.jl
  src/Diagnostics/atmos_default.jl
  src/Diagnostics/dump_state_and_aux.jl
  src/Driver/Driver.jl
  src/Driver/diagnostics_configs.jl
  src/Driver/driver_configs.jl
  test/Diagnostics/sin_test.jl
Labels: Diagnostics

#801 Add BOMEX experiment
  experiments/AtmosLES/bomex.jl
  slurmci-perf.toml
  slurmci-test.toml
  src/Atmos/Model/source.jl
Labels: Atmos, AtmosTCC

#733 Unify Atmos boundary conditions
  examples/Atmos/dry_rayleigh_benard.jl
  examples/topo.jl
  experiments/AtmosLES/bomex.jl
  experiments/AtmosLES/dycoms.jl
  experiments/AtmosLES/risingbubble.jl
  experiments/AtmosLES/surfacebubble.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/bc_energy.jl
  src/Atmos/Model/bc_initstate.jl
  src/Atmos/Model/bc_moisture.jl
  src/Atmos/Model/bc_momentum.jl
  src/Atmos/Model/boundaryconditions.jl
  src/Atmos/Model/linear.jl
  src/Atmos/Model/remainder.jl
  test/DGmethods/Euler/acousticwave-1d-imex.jl
  test/DGmethods/Euler/isentropicvortex-imex.jl
  test/DGmethods/Euler/isentropicvortex-multirate.jl
  test/DGmethods/Euler/isentropicvortex.jl
  test/DGmethods/compressible_Navier_Stokes/density_current-model.jl
  test/DGmethods/courant.jl
Labels: Atmos, Boundary Conditions

#839 Remove moist thermo warnings
  src/Common/MoistThermodynamics/MoistThermodynamics.jl
  src/Common/MoistThermodynamics/states.jl
Labels: moist-thermo

#842 Fix for #827, domain extents in LES are now floats
  examples/Atmos/dry_rayleigh_benard.jl
  experiments/AtmosLES/bomex.jl
  experiments/AtmosLES/dycoms.jl
  experiments/AtmosLES/risingbubble.jl
  experiments/AtmosLES/surfacebubble.jl
  src/Driver/driver_configs.jl
  test/Diagnostics/sin_test.jl
  test/Driver/driver_test.jl
Labels: Atmos

#841 Reduce aux usage for Ocean Model
  experiments/OceanBoxGCM/homogeneous_box.jl
  experiments/OceanBoxGCM/ocean_gyre.jl
  src/CLIMA.jl
  src/Ocean/HydrostaticBoussinesq/Courant.jl
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
  src/Ocean/HydrostaticBoussinesq/LinearHBModel.jl
  src/Ocean/HydrostaticBoussinesq/OceanBoundaryConditions.jl
  src/Ocean/HydrostaticBoussinesq/SimpleBoxProblem.jl
  test/Ocean/HydrostaticBoussinesq/test_divergence_free.jl
  test/Ocean/HydrostaticBoussinesq/test_ocean_gyre.jl
Labels: Defensive programming, Ocean

#791 Move to KernelAbstractions
  Manifest.toml
  Project.toml
  docs/Manifest.toml
  docs/Project.toml
  src/Arrays/MPIStateArrays.jl
  src/Arrays/MPIStateArrays_kernels.jl
  src/Atmos/Model/AtmosModel.jl
  src/DGmethods/DGmethods.jl
  src/DGmethods/DGmodel.jl
  src/DGmethods/DGmodel_kernels.jl
  src/DGmethods/NumericalFluxes.jl
  src/DGmethods/balancelaw.jl
  src/DGmethods_old/DGBalanceLawDiscretizations.jl
  src/LinearSolvers/ColumnwiseLUSolver.jl
  src/LinearSolvers/ColumnwiseLUSolver_kernels.jl
  src/LinearSolvers/GeneralizedConjugateResidualSolver.jl
  src/LinearSolvers/GeneralizedMinimalResidualSolver.jl
  src/LinearSolvers/LinearSolvers.jl
  src/LinearSolvers/LinearSolvers_kernels.jl
  src/Mesh/Filters.jl
  src/Mesh/Filters_kernels.jl
  src/Mesh/Grids.jl
  src/Mesh/Grids_kernels.jl
  src/Mesh/Interpolation.jl
  src/ODESolvers/AdditiveRungeKuttaMethod.jl
  src/ODESolvers/AdditiveRungeKuttaMethod_kernels.jl
  src/ODESolvers/LowStorageRungeKuttaMethod.jl
  src/ODESolvers/LowStorageRungeKuttaMethod_kernels.jl
  src/ODESolvers/MultirateInfinitesimalStepMethod.jl
  src/ODESolvers/MultirateInfinitesimalStepMethod_kernels.jl
  src/ODESolvers/MultirateRungeKuttaMethod.jl
  src/ODESolvers/MultirateRungeKuttaMethod_kernels.jl
  src/ODESolvers/ODESolvers.jl
  src/ODESolvers/StrongStabilityPreservingRungeKuttaMethod.jl
  src/ODESolvers/StrongStabilityPreservingRungeKuttaMethod_kernels.jl
  test/DGmethods/compressible_Navier_Stokes/mms_solution.jl
  test/DGmethods/compressible_Navier_Stokes/mms_solution_generated.jl
  test/LinearSolvers/columnwiselu.jl
Labels: CLIMA, GPU

#843 limit noise from boilerplate
  .github/pull_request_template.md
  bors.toml
Labels: Continuous Integration

#862 Diagnostics - bugFix for issue #831
  src/Diagnostics/atmos_default.jl
Labels: Atmos, Diagnostics

#857 Rename some tests
  slurmci-test.toml
  test/DGmethods/Euler/acousticwave_1d_imex.jl
  test/DGmethods/Euler/isentropicvortex_imex.jl
  test/DGmethods/Euler/isentropicvortex_multirate.jl
  test/DGmethods/compressible_Navier_Stokes/density_current_model.jl
  test/DGmethods/runtests.jl
Labels: Naming Conventions

#874 Changes to ease use of ocean_gyre.jl
  experiments/OceanBoxGCM/ocean_gyre.jl
  src/Ocean/HydrostaticBoussinesq/Courant.jl
Labels: Ocean, User Interface

#883 Fix integration of pkin in ocean model
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
Labels: Ocean, bug

#880 Rename `setup_*()` functions
  examples/Atmos/dry_rayleigh_benard.jl
  experiments/AtmosGCM/heldsuarez.jl
  experiments/AtmosLES/bomex.jl
  experiments/AtmosLES/dycoms.jl
  experiments/AtmosLES/risingbubble.jl
  experiments/AtmosLES/surfacebubble.jl
  experiments/OceanBoxGCM/homogeneous_box.jl
  experiments/OceanBoxGCM/ocean_gyre.jl
  src/Driver/diagnostics_configs.jl
  src/Driver/solver_configs.jl
  test/Diagnostics/sin_test.jl
  test/Driver/driver_test.jl
  test/Driver/gcm_driver_test.jl
  test/Ocean/HydrostaticBoussinesq/test_divergence_free.jl
  test/Ocean/HydrostaticBoussinesq/test_ocean_gyre.jl
Labels: User Interface

#885 Jm c/improve ocean gyre
  experiments/OceanBoxGCM/ocean_gyre.jl
  src/Ocean/HydrostaticBoussinesq/SimpleBoxProblem.jl
Labels: Ocean

#881 Throw an exception if norm(Q) == NaN
  experiments/OceanBoxGCM/ocean_gyre.jl
  slurmci-test.toml
  src/Driver/Driver.jl
Labels: Continuous Integration

#876 Add convenience `varsindex` functionality
  src/Utilities/VariableTemplates/VariableTemplates.jl
  test/Utilities/VariableTemplates/runtests.jl
  test/Utilities/VariableTemplates/varsindex.jl
Labels: User Interface

#886 New settings to make Held-Suarez 3x faster than before
  experiments/AtmosGCM/heldsuarez.jl
  slurmci-test.toml
  src/Utilities/VariableTemplates/VariableTemplates.jl
Labels: Atmos

#905 ODE solver cleanup
  src/ODESolvers/AdditiveRungeKuttaMethod.jl
  src/ODESolvers/AdditiveRungeKuttaMethod_kernels.jl
  src/ODESolvers/LowStorageRungeKuttaMethod.jl
  src/ODESolvers/LowStorageRungeKuttaMethod_kernels.jl
  src/ODESolvers/MultirateInfinitesimalStepMethod.jl
  src/ODESolvers/MultirateInfinitesimalStepMethod_kernels.jl
  src/ODESolvers/MultirateRungeKuttaMethod.jl
  src/ODESolvers/MultirateRungeKuttaMethod_kernels.jl
  src/ODESolvers/ODESolvers.jl
  src/ODESolvers/StrongStabilityPreservingRungeKuttaMethod.jl
  src/ODESolvers/StrongStabilityPreservingRungeKuttaMethod_kernels.jl
Labels: Timestepping
