Repository CliMA/ClimateMachine.jl, pull requests merged in 2020-08, with the labels that each got.

#1385 Add low-storage 3N Runge-Kutta time-stepping scheme
  docs/src/APIs/Numerics/ODESolvers/ODESolvers.md
  src/Numerics/ODESolvers/LowStorageRungeKutta3NMethod.jl
  src/Numerics/ODESolvers/ODESolvers.jl
  test/Numerics/ODESolvers/ode_tests_common.jl
Labels: Timestepping

#1388 Add turbulence statistics diagnostics
  docs/src/APIs/Diagnostics/Diagnostics.md
  experiments/AtmosLES/taylor_green.jl
  src/ClimateMachine.jl
  src/Diagnostics/Diagnostics.jl
  src/Diagnostics/atmos_gcm_default.jl
  src/Diagnostics/atmos_les_core.jl
  src/Diagnostics/atmos_les_default.jl
  src/Diagnostics/atmos_les_default_perturbations.jl
  src/Diagnostics/atmos_refstate_perturbations.jl
  src/Diagnostics/atmos_turbulence_stats.jl
  src/Diagnostics/dump_aux.jl
  src/Diagnostics/dump_state.jl
  src/Diagnostics/groups.jl
  src/Diagnostics/variables.jl
  src/Driver/diagnostics_configs.jl
  test/Ocean/SplitExplicit/hydrostatic_spindown.jl
Labels: Diagnostics

#1407 Make `export_plot` use `round_digits` kwarg
  docs/plothelpers.jl
Labels: Documentation

#1402 Add implicit time marching to heat tutorial
  docs/src/APIs/Driver/index.md
  src/Arrays/MPIStateArrays.jl
  src/Driver/SolverTypes/ImplicitSolverType.jl
  src/Driver/SolverTypes/SolverTypes.jl
  tutorials/Land/Heat/heat_equation.jl
Labels: Timestepping

#1404 Add bulk surface flux to boundaryconditions
  .buildkite/pipeline.yml
  docs/src/APIs/Atmos/AtmosModel.md
  experiments/AtmosLES/bomex_bulk_sfc_flux.jl
  src/Atmos/Model/bc_energy.jl
  src/Atmos/Model/bc_moisture.jl
  src/Atmos/Model/boundaryconditions.jl
Labels: Atmos, Boundary Conditions

#1375 Box advection test
  .buildkite/pipeline.yml
  docs/list_of_tutorials.jl
  docs/plothelpers.jl
  slurmci-test.toml
  test/Numerics/Mesh/filter_TMAR.jl
  test/Numerics/Mesh/runtests.jl
  tutorials/Numerics/DGMethods/Box1D.jl
  tutorials/Numerics/DGMethods/showcase_filters.jl
Labels: tests, tutorials

#1422 Add `ODESolvers.getsteps()`
  docs/src/APIs/Numerics/ODESolvers/ODESolvers.md
  src/Numerics/ODESolvers/AdditiveRungeKuttaMethod.jl
  src/Numerics/ODESolvers/DifferentialEquations.jl
  src/Numerics/ODESolvers/LowStorageRungeKutta3NMethod.jl
  src/Numerics/ODESolvers/LowStorageRungeKuttaMethod.jl
  src/Numerics/ODESolvers/MultirateInfinitesimalGARKDecoupledImplicit.jl
  src/Numerics/ODESolvers/MultirateInfinitesimalGARKExplicit.jl
  src/Numerics/ODESolvers/MultirateInfinitesimalStepMethod.jl
  src/Numerics/ODESolvers/MultirateRungeKuttaMethod.jl
  src/Numerics/ODESolvers/ODESolvers.jl
  src/Numerics/ODESolvers/SplitExplicitMethod.jl
  src/Numerics/ODESolvers/StrongStabilityPreservingRungeKuttaMethod.jl
  test/Numerics/DGMethods/Euler/acousticwave_1d_imex.jl
  test/Numerics/ODESolvers/callbacks.jl
Labels: Numerics, Timestepping

#1361 Enforce discrete hydrostatic balance
  .buildkite/pipeline.yml
  docs/src/APIs/Numerics/DGMethods/DGMethods.md
  src/Arrays/MPIStateArrays.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/linear.jl
  src/Atmos/Model/ref_state.jl
  src/BalanceLaws/interface.jl
  src/Common/Orientations/Orientations.jl
  src/Land/Model/LandModel.jl
  src/Numerics/DGMethods/DGMethods.jl
  src/Numerics/DGMethods/DGModel.jl
  src/Numerics/DGMethods/DGModel_kernels.jl
  src/Numerics/DGMethods/create_states.jl
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
  src/Ocean/HydrostaticBoussinesq/LinearHBModel.jl
  src/Ocean/ShallowWater/ShallowWaterModel.jl
  src/Ocean/SplitExplicit/VerticalIntegralModel.jl
  test/Atmos/Model/discrete-hydrostatic-balance.jl
  test/Atmos/Model/ref_state.jl
  test/Atmos/Parameterizations/Microphysics/KinematicModel.jl
  test/Driver/driver_test.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_imex.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_mrigark.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_mrigark_implicit.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_multirate.jl
  test/Numerics/DGMethods/advection_diffusion/advection_diffusion_model.jl
  test/Numerics/DGMethods/advection_diffusion/hyperdiffusion_model.jl
  test/Numerics/DGMethods/compressible_Navier_Stokes/mms_model.jl
  test/Numerics/DGMethods/conservation/sphere.jl
  test/Numerics/DGMethods/courant.jl
  test/Numerics/DGMethods/grad_test.jl
  test/Numerics/DGMethods/grad_test_sphere.jl
  test/Numerics/DGMethods/integral_test.jl
  test/Numerics/DGMethods/integral_test_sphere.jl
  test/Numerics/DGMethods/runtests.jl
  test/Numerics/DGMethods/vars_test.jl
  test/Numerics/SystemSolvers/poisson.jl
  test/Utilities/SingleStackUtils/ssu_tests.jl
  tutorials/Atmos/burgers_single_stack.jl
  tutorials/Land/Heat/heat_equation.jl
  tutorials/Numerics/DGMethods/Box1D.jl
Labels: AtmosDycore

#1425 fixing issues re: type stability and closures
  .buildkite/pipeline.yml
  src/Land/Model/SoilWaterParameterizations.jl
  src/Land/Model/soil_water.jl
  test/Land/Model/Artifacts.toml
  test/Land/Model/haverkamp_test.jl
  test/Land/Model/prescribed_twice.jl
  test/Land/Model/test_bc.jl
Labels: land - soil

#1424 clean up boundary conditions
  docs/src/APIs/Atmos/AtmosModel.md
  src/Atmos/Model/bc_energy.jl
  src/Atmos/Model/bc_moisture.jl
  src/Atmos/Model/bc_momentum.jl
  src/Atmos/Model/boundaryconditions.jl
Labels: Boundary Conditions

#1421 Rename `nodal_update_auxiliary_state!` for `MPIStateArray` methods
  docs/src/APIs/BalanceLaws/BalanceLaws.md
  src/Atmos/Model/AtmosModel.jl
  src/BalanceLaws/BalanceLaws.jl
  src/BalanceLaws/interface.jl
  src/Common/Orientations/Orientations.jl
  src/Common/TurbulenceClosures/TurbulenceClosures.jl
  src/Common/TurbulenceConvection/TurbulenceConvection.jl
  src/Land/Model/LandModel.jl
  src/Numerics/DGMethods/DGMethods.jl
  src/Numerics/DGMethods/DGModel.jl
  src/Numerics/DGMethods/remainder.jl
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
  src/Ocean/ShallowWater/ShallowWaterModel.jl
  src/Ocean/SplitExplicit/VerticalIntegralModel.jl
  test/Atmos/Parameterizations/Microphysics/KM_ice.jl
  test/Atmos/Parameterizations/Microphysics/KM_saturation_adjustment.jl
  test/Atmos/Parameterizations/Microphysics/KM_warm_rain.jl
  test/Atmos/Parameterizations/Microphysics/KinematicModel.jl
  test/Numerics/DGMethods/advection_diffusion/advection_diffusion_model.jl
  test/Numerics/DGMethods/advection_diffusion/advection_sphere.jl
  test/Numerics/DGMethods/advection_diffusion/hyperdiffusion_model.jl
  test/Numerics/DGMethods/advection_diffusion/periodic_3D_hyperdiffusion.jl
  test/Numerics/DGMethods/compressible_Navier_Stokes/mms_model.jl
  test/Numerics/DGMethods/conservation/sphere.jl
  test/Numerics/DGMethods/grad_test.jl
  test/Numerics/DGMethods/grad_test_sphere.jl
  test/Numerics/DGMethods/integral_test.jl
  test/Numerics/DGMethods/integral_test_sphere.jl
  test/Numerics/DGMethods/vars_test.jl
  test/Numerics/SystemSolvers/poisson.jl
  test/Utilities/SingleStackUtils/ssu_tests.jl
  tutorials/Atmos/burgers_single_stack.jl
  tutorials/Land/Heat/heat_equation.jl
  tutorials/Numerics/DGMethods/Box1D.jl
Labels: Naming Conventions, interface change

#1423 Fix GCM config BCs
  src/Driver/driver_configs.jl
Labels: Boundary Conditions

#1415 Introduce `AbstractProblem` and `AtmosProblem`
  .buildkite/pipeline.yml
  Manifest.toml
  docs/list_of_apis.jl
  docs/src/APIs/Atmos/AtmosModel.md
  docs/src/APIs/BalanceLaws/Problems.md
  docs/src/APIs/Numerics/DGMethods/DGMethods.md
  experiments/AtmosGCM/baroclinic-wave.jl
  experiments/AtmosGCM/heldsuarez.jl
  experiments/AtmosGCM/isothermal-zonal-flow.jl
  experiments/AtmosGCM/moist-baroclinic-wave.jl
  experiments/AtmosGCM/nonhydrostatic-gravity-wave.jl
  experiments/AtmosLES/bomex.jl
  experiments/AtmosLES/bomex_bulk_sfc_flux.jl
  experiments/AtmosLES/dycoms.jl
  experiments/AtmosLES/schar_scalar_advection.jl
  experiments/AtmosLES/surfacebubble.jl
  experiments/AtmosLES/taylor_green.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/boundaryconditions.jl
  src/Atmos/Model/problem.jl
  src/BalanceLaws/BalanceLaws.jl
  src/BalanceLaws/Problems.jl
  src/BalanceLaws/interface.jl
  src/ClimateMachine.jl
  src/Driver/Driver.jl
  src/Numerics/DGMethods/DGMethods.jl
  src/Ocean/OceanProblems/SimpleBoxProblem.jl
  test/Atmos/Model/discrete-hydrostatic-balance.jl
  test/Atmos/Model/ref_state.jl
  test/Diagnostics/diagnostic_fields_test.jl
  test/Diagnostics/sin_test.jl
  test/Driver/cr_unit_tests.jl
  test/Driver/driver_test.jl
  test/Driver/gcm_driver_test.jl
  test/Driver/mms3.jl
  test/Numerics/DGMethods/Euler/acousticwave_1d_imex.jl
  test/Numerics/DGMethods/Euler/acousticwave_mrigark.jl
  test/Numerics/DGMethods/Euler/isentropicvortex.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_imex.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_mrigark.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_mrigark_implicit.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_multirate.jl
  test/Numerics/DGMethods/compressible_Navier_Stokes/density_current_model.jl
  test/Numerics/DGMethods/compressible_Navier_Stokes/mms_bc_atmos.jl
  test/Numerics/DGMethods/compressible_Navier_Stokes/ref_state.jl
  test/Numerics/DGMethods/courant.jl
  test/Numerics/DGMethods/remainder_model.jl
  test/Numerics/Mesh/interpolation.jl
  tutorials/Atmos/agnesi_hs_lin.jl
  tutorials/Atmos/agnesi_nh_lin.jl
  tutorials/Atmos/densitycurrent.jl
  tutorials/Atmos/dry_rayleigh_benard.jl
  tutorials/Atmos/heldsuarez.jl
  tutorials/Atmos/risingbubble.jl
Labels: Atmos, interface change

#1352 Switch VTK to use VTK_LAGRANGE_XXX
  src/InputOutput/VTK/writemesh.jl
  test/InputOutput/VTK/runtests.jl
  test/InputOutput/runtests.jl
Labels: Diagnostics

#1429 Bugfix: remove old driver syntax
  src/Driver/SolverTypes/IMEXSolverType.jl
  src/Driver/SolverTypes/MISSolverType.jl
  src/Driver/SolverTypes/MultirateSolverType.jl
  test/Driver/gcm_driver_test.jl
Labels: Bug-fix

#1454 Change construction of bulk surface fluxes
  experiments/AtmosLES/bomex.jl
  src/Atmos/Model/bc_energy.jl
  src/Atmos/Model/bc_moisture.jl
Labels: Atmos, Boundary Conditions

#1351 Add ViscousSponge to TurbulenceClosures
  docs/src/APIs/Common/TurbulenceClosures.md
  src/Atmos/Model/AtmosModel.jl
  src/Common/TurbulenceClosures/TurbulenceClosures.jl
Labels: Atmos, Draft

#1437 Add GPU tests for VariableTemplates
  .buildkite/pipeline.yml
  docs/src/APIs/Utilities/VariableTemplates.md
  src/Utilities/VariableTemplates/VariableTemplates.jl
  test/Utilities/VariableTemplates/complex_models.jl
  test/Utilities/VariableTemplates/ntuple_type.jl
  test/Utilities/VariableTemplates/runtests.jl
  test/Utilities/VariableTemplates/runtests_gpu.jl
  test/Utilities/VariableTemplates/test_base_functionality.jl
  test/Utilities/VariableTemplates/test_complex_models.jl
  test/Utilities/VariableTemplates/test_complex_models_gpu.jl
Labels: GPU

#1467 Add saturated function to thermo
  docs/src/APIs/Common/Thermodynamics.md
  src/Common/Thermodynamics/relations.jl
  test/Common/Thermodynamics/runtests.jl
Labels: Thermodynamics

#1442 Adding soil heat model into soil model
  .buildkite/pipeline.yml
  docs/list_of_apis.jl
  docs/src/APIs/Land/LandModel.md
  docs/src/APIs/Land/SoilHeatParameterizations.md
  src/Land/Model/LandModel.jl
  src/Land/Model/SoilHeatParameterizations.jl
  src/Land/Model/SoilWaterParameterizations.jl
  src/Land/Model/land_bc.jl
  src/Land/Model/soil_bc.jl
  src/Land/Model/soil_heat.jl
  src/Land/Model/soil_model.jl
  src/Land/Model/soil_water.jl
  test/Land/Model/haverkamp_test.jl
  test/Land/Model/heat_analytic_unit_test.jl
  test/Land/Model/prescribed_twice.jl
  test/Land/Model/runtests.jl
  test/Land/Model/test_bc.jl
  test/Land/Model/test_heat_parameterizations.jl
  tutorials/Land/Soil/Water/equilibrium_test.jl
Labels: land - soil - heat

#1360 Spectrum calculator and diagnostics group
  .buildkite/pipeline.yml
  Manifest.toml
  Project.toml
  docs/Manifest.toml
  docs/list_of_apis.jl
  docs/src/APIs/Common/Spectra.md
  docs/src/APIs/Diagnostics/Diagnostics.md
  experiments/AtmosLES/taylor_green.jl
  src/ClimateMachine.jl
  src/Common/Spectra/Spectra.jl
  src/Common/Spectra/power_spectrum.jl
  src/Diagnostics/Diagnostics.jl
  src/Diagnostics/atmos_turbulence_stats.jl
  src/Diagnostics/dump_spectra.jl
  src/Diagnostics/groups.jl
  src/Driver/Callbacks/Callbacks.jl
Labels: Diagnostics

#1460 Modularized GCM driver
  experiments/AtmosGCM/GCMDriver/GCMDriver.jl
  experiments/AtmosGCM/GCMDriver/baroclinicwave_problem.jl
  experiments/AtmosGCM/GCMDriver/gcm_base_states.jl
  experiments/AtmosGCM/GCMDriver/gcm_bcs.jl
  experiments/AtmosGCM/GCMDriver/gcm_moisture_profiles.jl
  experiments/AtmosGCM/GCMDriver/gcm_perturbations.jl
  experiments/AtmosGCM/GCMDriver/gcm_sources.jl
  experiments/AtmosGCM/GCMDriver/heldsuarez_problem.jl
Labels: Atmos

#1456 Unified OceanBC between HBModel and SWModel
  experiments/OceanBoxGCM/simple_box.jl
  src/Ocean/HydrostaticBoussinesq/BoundaryConditions.jl
  src/Ocean/HydrostaticBoussinesq/HydrostaticBoussinesqModel.jl
  src/Ocean/HydrostaticBoussinesq/LinearHBModel.jl
  src/Ocean/HydrostaticBoussinesq/bc_temperature.jl
  src/Ocean/HydrostaticBoussinesq/bc_velocity.jl
  src/Ocean/Ocean.jl
  src/Ocean/OceanBC.jl
  src/Ocean/OceanProblems/SimpleBoxProblem.jl
  src/Ocean/ShallowWater/ShallowWaterModel.jl
  src/Ocean/ShallowWater/bc_velocity.jl
  test/Ocean/ShallowWater/GyreDriver.jl
Labels: Boundary Conditions, Ocean, Refactor

#1481 Require approval from a reviewer besides the PR author
  bors.toml
Labels: CI, ClimateMachine

#1485 GCM ref_state refinement
  experiments/AtmosGCM/GCMDriver/GCMDriver.jl
  experiments/AtmosGCM/baroclinic-wave.jl
  experiments/AtmosGCM/heldsuarez.jl
  experiments/AtmosGCM/moist-baroclinic-wave-bulksfcflux.jl
Labels: enhancement
