Repository CliMA/ClimateMachine.jl, pull requests merged in 2021-02, with the labels that each got.

#1983 Add test to Atmos TemperatureProfiles
  test/Atmos/TemperatureProfiles/runtests.jl
Labels: tests

#1984 Improve TurbulenceClosures names, mv some abstract types to balance law
  docs/src/APIs/Common/TurbulenceClosures.md
  src/Atmos/Model/atmos_tendencies.jl
  src/Atmos/Model/declare_prognostic_vars.jl
  src/BalanceLaws/tendency_types.jl
  src/Common/TurbulenceClosures/TurbulenceClosures.jl
Labels: BalanceLaw

#1979 Add / extract vars wrappers in DG kernels / BalanceLaws
  src/BalanceLaws/vars_wrappers.jl
  src/Numerics/DGMethods/DGFVModel_kernels.jl
  src/Numerics/DGMethods/DGMethods.jl
  src/Numerics/DGMethods/DGModel_kernels.jl
Labels: DG Kernels

#1937 Refactor StateCheck
  src/Diagnostics/Debug/StateCheck.jl
  src/Utilities/VariableTemplates/var_names.jl
  test/Ocean/refvals/2D_hydrostatic_spindown_refvals.jl
  test/Ocean/refvals/3D_hydrostatic_spindown_refvals.jl
  test/Ocean/refvals/hydrostatic_spindown_refvals.jl
  test/Ocean/refvals/simple_box_2dt_refvals.jl
  test/Ocean/refvals/simple_box_ivd_refvals.jl
  test/Ocean/refvals/simple_box_rk3_refvals.jl
  test/Ocean/refvals/simple_dbl_gyre_refvals.jl
  test/Ocean/refvals/test_ocean_gyre_refvals.jl
  test/Ocean/refvals/test_vertical_integral_model_refvals.jl
  test/Ocean/refvals/test_windstress_refvals.jl
Labels: debugging

#1811 Expose parameters for SBL calibration.
  experiments/AtmosLES/stable_bl_les.jl
  experiments/AtmosLES/stable_bl_model.jl
Labels: AtmosTCC

#1996 Add bounds error test to VariableTemplates
  test/Utilities/VariableTemplates/test_complex_models.jl
Labels: tests

#2004 Bugfix for StateCheck
  src/Diagnostics/Debug/StateCheck.jl
Labels: Bug-fix

#1993 MIS method docstrings
  docs/bibliography.bib
  docs/src/APIs/Numerics/ODESolvers/ODESolvers.md
  src/Numerics/ODESolvers/MultirateInfinitesimalGARKExplicit.jl
  src/Numerics/ODESolvers/MultirateInfinitesimalStepMethod.jl
  src/Numerics/ODESolvers/SplitExplicitMethod.jl
Labels: Documentation 📜

#1977 Add `VTKFieldWriter`
  docs/src/APIs/InputOutput/index.md
  src/InputOutput/VTK/VTK.jl
  src/InputOutput/VTK/fieldwriter.jl
  src/InputOutput/VTK/writevtk.jl
Labels: Diagnostics, User Interface

#2012 Move how to make a balance law to /BalanceLaws
  docs/list_of_how_to_guides.jl
  docs/list_of_tutorials.jl
  docs/src/GettingStarted/Terminology.md
  docs/src/HowToGuides/BalanceLaws/how_to_make_a_balance_law.md
  tutorials/how_to_make_a_balance_law.jl
Labels: BalanceLaw, Documentation 📜

#2016 Fix `InterpolationConfiguration` for grid stretching
  experiments/TestCase/solid_body_rotation_fvm.jl
  src/Driver/diagnostics_configs.jl
  src/Driver/driver_configs.jl
Labels: Diagnostics

#2017 Add tend spec layer docs
  docs/list_of_tutorials.jl
  docs/src/APIs/BalanceLaws/BalanceLaws.md
  src/BalanceLaws/show_tendencies.jl
  src/BalanceLaws/tendency_types.jl
  src/Driver/driver_configs.jl
  test/BalanceLaws/runtests.jl
  tutorials/BalanceLaws/tendency_specification_layer.jl
Labels: BalanceLaw, Documentation 📜

#2023 Add new thermo constructor
  docs/src/APIs/Common/Thermodynamics.md
  src/Common/Thermodynamics/config_numerical_method.jl
  src/Common/Thermodynamics/relations.jl
  src/Common/Thermodynamics/states.jl
  test/Common/Thermodynamics/runtests.jl
Labels: Thermodynamics

#2027 Small changes/improvements to tend layer docs tutorial
  tutorials/BalanceLaws/tendency_specification_layer.jl
Labels: Documentation 📜

#1921 Traverse all prog vars in top-level `flux_first_order!`, `flux_second_order!`, and `source!`
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/declare_prognostic_vars.jl
  src/Atmos/Model/energy.jl
  src/Atmos/Model/get_prognostic_vars.jl
  src/Atmos/Model/linear.jl
  src/Atmos/Model/moisture.jl
  src/Atmos/Model/precipitation.jl
  src/Atmos/Model/radiation.jl
  src/Atmos/Model/tracers.jl
  src/BalanceLaws/BalanceLaws.jl
  src/BalanceLaws/sum_tendencies.jl
  src/BalanceLaws/tendency_types.jl
  src/Common/TurbulenceConvection/TurbulenceConvection.jl
  test/Atmos/EDMF/edmf_kernels.jl
  tutorials/BalanceLaws/tendency_specification_layer.jl
Labels: Abstractions 🎨

#2051 Bug fix for brick interpolation
  src/Numerics/Mesh/Interpolation.jl
Labels: Diagnostics

#2038 Enable call to SurfaceFluxes from boundary conditions, clean up SurfaceFluxes
  docs/src/APIs/Atmos/AtmosModel.md
  experiments/AtmosLES/stable_bl_model.jl
  src/Atmos/Model/bc_energy.jl
  src/Atmos/Model/boundaryconditions.jl
  src/Common/SurfaceFluxes/SurfaceFluxes.jl
  test/Common/SurfaceFluxes/runtests.jl
Labels: Atmos, AtmosTCC, SurfaceFluxes

#2049 Fix access to ArgParser from command line in EDMF experiments
  test/Atmos/EDMF/bomex_edmf.jl
  test/Atmos/EDMF/report_mse_sbl_fv.jl
  test/Atmos/EDMF/stable_bl_edmf.jl
  test/Atmos/EDMF/stable_bl_edmf_fvm.jl
  test/Atmos/EDMF/stable_bl_single_stack_implicit.jl
Labels: EDMF

#2059 Add connectmeshfull for vertex-level connectivity
  docs/src/APIs/Numerics/Meshes/Mesh.md
  src/Numerics/Mesh/BrickMesh.jl
  src/Numerics/Mesh/Topologies.jl
  test/Numerics/Mesh/BrickMesh.jl
  test/Numerics/Mesh/mpi_connectfull.jl
Labels: Mesh, Numerics 🔢

#2052 Unit tests and corrections, SurfaceFluxes module
  .buildkite/pipeline.yml
  docs/src/APIs/Common/SurfaceFluxes.md
  src/Common/SurfaceFluxes/SurfaceFluxes.jl
  test/Common/SurfaceFluxes/runtests.jl
Labels: SurfaceFluxes

#2070 Fix and document get_flux_coefficients
  src/Common/SurfaceFluxes/SurfaceFluxes.jl
Labels: SurfaceFluxes
