Repository CliMA/ClimateMachine.jl, pull requests merged in 2021-04, with the labels that each got.

#2164 Dispatch on coupling mode
  .buildkite/pipeline.yml
  test/Atmos/EDMF/edmf_kernels.jl
  test/Atmos/EDMF/edmf_model.jl
  test/Atmos/EDMF/report_mse_sbl_coupled_edmf_an1d.jl
  test/Atmos/EDMF/stable_bl_coupled_edmf_an1d.jl
Labels: EDMF

#2128 Move energy submodel into atmos.physics
  docs/src/APIs/BalanceLaws/BalanceLaws.md
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/atmos_tendencies.jl
  src/Atmos/Model/get_prognostic_vars.jl
  src/Atmos/Model/linear.jl
  src/Atmos/Model/prog_prim_conversion.jl
  src/Atmos/Model/thermo_states.jl
  src/Atmos/Model/thermo_states_anelastic.jl
  src/BalanceLaws/interface.jl
  src/Diagnostics/DiagnosticsMachine/group_gen.jl
  src/Diagnostics/atmos_les_default.jl
  src/Diagnostics/atmos_mass_energy_loss.jl
Labels: Abstractions 🎨

#2166 Move atmos.moisture to atmos.physics
  experiments/AtmosGCM/GCMDriver/GCMDriver.jl
  experiments/AtmosGCM/moist_baroclinic_wave_bulksfcflux.jl
  experiments/AtmosLES/bomex_model.jl
  experiments/AtmosLES/convective_bl_model.jl
  experiments/AtmosLES/dycoms.jl
  experiments/AtmosLES/squall_line.jl
  experiments/AtmosLES/stable_bl_model.jl
  experiments/TestCase/baroclinic_wave.jl
  experiments/TestCase/baroclinic_wave_fvm.jl
  experiments/TestCase/risingbubble.jl
  experiments/TestCase/risingbubble_fvm.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/atmos_tendencies.jl
  src/Atmos/Model/bc_energy.jl
  src/Atmos/Model/boundaryconditions.jl
  src/Atmos/Model/filters.jl
  src/Atmos/Model/get_prognostic_vars.jl
  src/Atmos/Model/linear.jl
  src/Atmos/Model/prog_prim_conversion.jl
  src/Atmos/Model/ref_state.jl
  src/Atmos/Model/thermo_states.jl
  src/Atmos/Model/thermo_states_anelastic.jl
  src/Diagnostics/atmos_gcm_default.jl
  src/Diagnostics/atmos_les_core.jl
  src/Diagnostics/atmos_les_default.jl
  src/Diagnostics/atmos_les_default_perturbations.jl
  src/Diagnostics/atmos_refstate_perturbations.jl
  src/Diagnostics/thermo.jl
  test/Atmos/EDMF/bomex_edmf.jl
  test/Atmos/EDMF/closures/surface_functions.jl
  test/Atmos/EDMF/edmf_kernels.jl
  test/Atmos/EDMF/helper_funcs/save_subdomain_temperature.jl
  test/Atmos/EDMF/helper_funcs/subdomain_thermo_states.jl
  test/Atmos/prog_prim_conversion/runtests.jl
  test/Numerics/DGMethods/Euler/isentropicvortex_setup.jl
Labels: Abstractions 🎨

#2136 Add tendency specification layer to land model
  src/Land/Model/LandModel.jl
  src/Land/Model/land_tendencies.jl
  src/Land/Model/prog_types.jl
  src/Land/Model/prognostic_vars.jl
  src/Land/Model/soil_heat.jl
  src/Land/Model/soil_model.jl
  src/Land/Model/soil_water.jl
  src/Land/Model/source.jl
Labels: Abstractions 🎨, BalanceLaw, land - soil

#2135 add mass preserving filter
  src/Numerics/Mesh/Filters.jl
  test/Numerics/Mesh/filter.jl
Labels: Numerics 🔢

#2180 Move citation to .bib
  docs/bibliography.bib
  tutorials/Atmos/agnesi_hs_lin.jl
  tutorials/Atmos/agnesi_nh_lin.jl
Labels: House cleaning 🧹

#2171 Add spherical domains for CNSE3D model
  .buildkite/pipeline.yml
  docs/src/APIs/Numerics/Meshes/Mesh.md
  src/Numerics/Mesh/Filters.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/CNSE.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/plotting/bigfileofstuff.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/shared_source/FluidBC.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/shared_source/ScalarFields.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/shared_source/VectorFields.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/shared_source/abstractions.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/shared_source/boilerplate.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/shared_source/domains.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/shared_source/grids.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/sphere/sphere_helper_functions.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/sphere/test_heat_equation.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/sphere/test_hydrostatic_balance.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/sphere/test_sphere.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/ThreeDimensionalCompressibleNavierStokesEquations.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/bc_momentum.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/bc_temperature.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/refvals_bickley_jet.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/refvals_sphere.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/run_bickley_jet.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/run_box.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/run_sphere.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/run_taylor_green_vortex.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/test_bickley_jet.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/test_buoyancy.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/test_sphere.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/two_dimensional/TwoDimensionalCompressibleNavierStokesEquations.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/two_dimensional/bc_momentum.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/two_dimensional/bc_tracer.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/two_dimensional/run_bickley_jet.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/two_dimensional/test_bickley_jet.jl
Labels: Numerics 🔢, tests

#2181 Rename cubedshelltopowarp -> cubed_sphere_topo_warp
  docs/src/APIs/Numerics/Meshes/Mesh.md
  experiments/TestCase/solid_body_rotation_mountain.jl
  src/Numerics/Mesh/Topologies.jl
Labels: API, Naming Conventions

#2173 Add physics to AtmosBC constructor
  docs/src/GettingStarted/Atmos.md
  experiments/AtmosGCM/GCMDriver/GCMDriver.jl
  experiments/AtmosGCM/GCMDriver/baroclinicwave_problem.jl
  experiments/AtmosGCM/GCMDriver/gcm_bcs.jl
  experiments/AtmosGCM/GCMDriver/heldsuarez_problem.jl
  experiments/AtmosGCM/moist_baroclinic_wave_bulksfcflux.jl
  experiments/AtmosLES/bomex_model.jl
  experiments/AtmosLES/cfsite_hadgem2-a_07_amip.jl
  experiments/AtmosLES/convective_bl_model.jl
  experiments/AtmosLES/dycoms.jl
  experiments/AtmosLES/ekman_layer_model.jl
  experiments/AtmosLES/rising_bubble_theta_formulation.jl
  experiments/AtmosLES/squall_line.jl
  experiments/AtmosLES/stable_bl_model.jl
  experiments/AtmosLES/surfacebubble.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/boundaryconditions.jl
  src/Atmos/Model/linear.jl
  src/Atmos/Model/problem.jl
  test/Numerics/DGMethods/Euler/fvm_balance.jl
  test/Numerics/DGMethods/fv_reconstruction_test.jl
  tutorials/Atmos/dry_rayleigh_benard.jl
Labels: Boundary Conditions

#2172 Add mutating flux-source knl fallbacks in BL
  docs/src/APIs/BalanceLaws/BalanceLaws.md
  src/Atmos/Model/AtmosModel.jl
  src/BalanceLaws/BalanceLaws.jl
  src/BalanceLaws/kernels.jl
  src/Land/Model/LandModel.jl
Labels: Abstractions 🎨, BalanceLaw

#2177 Add `AtmosSpecificFilterPerturbations` filter
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/energy.jl
  src/Atmos/Model/filters.jl
  src/Atmos/Model/get_prognostic_vars.jl
  src/Atmos/Model/moisture.jl
  src/BalanceLaws/tendency_types.jl
  src/Common/TurbulenceConvection/TurbulenceConvection.jl
  test/Atmos/EDMF/edmf_kernels.jl
  test/Atmos/EDMF/ekman_layer.jl
Labels: EDMF

#2190 Improve tips for doc string debbugging
  .github/workflows/doc_build_common_error_messages.md
Labels: Documentation 📜, enhancement

#2184 Add single tutorial mode
  .gitignore
  docs/list_of_tutorials.jl
  docs/make.jl
Labels: Documentation 📜

#2162 Geometric factors data structures
  docs/src/APIs/Numerics/Meshes/Mesh.md
  src/Numerics/Mesh/GeometricFactors.jl
  src/Numerics/Mesh/Grids.jl
  src/Numerics/Mesh/Mesh.jl
  src/Numerics/Mesh/Metrics.jl
  test/Numerics/Mesh/Metrics.jl
Labels: API, Numerics 🔢, enhancement
