Repository CliMA/ClimateMachine.jl, pull requests merged in 2021-03, with the labels that each got.

#2071 Make connectmeshfull default for DG and CG.
  src/Numerics/Mesh/BrickMesh.jl
  src/Numerics/Mesh/Topologies.jl
  test/Driver/mms3.jl
  test/InputOutput/VTK/runtests.jl
  test/Numerics/DGMethods/Euler/fvm_isentropicvortex.jl
  test/Numerics/DGMethods/advection_diffusion/advection_diffusion_model_1dimex_bgmres.jl
  test/Numerics/DGMethods/advection_diffusion/direction_splitting_advection_diffusion.jl
  test/Numerics/DGMethods/advection_diffusion/fvm_advection.jl
  test/Numerics/DGMethods/advection_diffusion/fvm_advection_diffusion.jl
  test/Numerics/DGMethods/advection_diffusion/fvm_advection_diffusion_model_1dimex_bjfnks.jl
  test/Numerics/DGMethods/advection_diffusion/fvm_advection_diffusion_periodic.jl
  test/Numerics/DGMethods/advection_diffusion/fvm_swirl.jl
  test/Numerics/DGMethods/advection_diffusion/periodic_3D_hyperdiffusion.jl
  test/Numerics/DGMethods/advection_diffusion/pseudo1D_advection_diffusion.jl
  test/Numerics/DGMethods/advection_diffusion/pseudo1D_advection_diffusion_1dimex.jl
  test/Numerics/DGMethods/advection_diffusion/pseudo1D_advection_diffusion_mrigark_implicit.jl
  test/Numerics/DGMethods/advection_diffusion/pseudo1D_heat_eqn.jl
  test/Numerics/DGMethods/advection_diffusion/variable_degree_advection_diffusion.jl
  test/Numerics/DGMethods/courant.jl
  test/Numerics/DGMethods/grad_test.jl
  test/Numerics/DGMethods/horizontal_integral_test.jl
  test/Numerics/DGMethods/integral_test.jl
  test/Numerics/DGMethods/vars_test.jl
  test/Numerics/Mesh/mpi_connect.jl
  test/Numerics/Mesh/mpi_connect_ell.jl
  test/Numerics/Mesh/mpi_connect_sphere.jl
  test/Numerics/Mesh/mpi_connect_stacked.jl
  test/Numerics/Mesh/mpi_connect_stacked_3d.jl
  test/Numerics/Mesh/topology.jl
  test/Numerics/SystemSolvers/bandedsystem.jl
Labels: Mesh, Numerics 🔢, WIP

#1938 Time Stepping tutorials
  .buildkite/docs-pipeline.yml
  docs/bibliography.bib
  docs/list_of_tutorials.jl
  tutorials/Numerics/TimeStepping/explicit_lsrk.jl
  tutorials/Numerics/TimeStepping/imex_ark.jl
  tutorials/Numerics/TimeStepping/mis.jl
  tutorials/Numerics/TimeStepping/multirate_rk.jl
  tutorials/Numerics/TimeStepping/ts_intro.jl
  tutorials/Numerics/TimeStepping/tutorial_acousticwave_config.jl
  tutorials/Numerics/TimeStepping/tutorial_risingbubble_config.jl
Labels: Documentation 📜, tutorials

#2090 Add volume mixing ratios
  docs/src/APIs/Common/Thermodynamics.md
  src/Common/Thermodynamics/relations.jl
  test/Common/Thermodynamics/runtests.jl
Labels: Thermodynamics

#2093 Docs: Add some useful git tips to the Contributing guide
  docs/src/Contributing.md
Labels: Documentation 📜

#2060 Equidistant cubed-sphere
  docs/bibliography.bib
  docs/src/APIs/Numerics/Meshes/Mesh.md
  src/Driver/driver_configs.jl
  src/Numerics/Mesh/Interpolation.jl
  src/Numerics/Mesh/Topologies.jl
  test/Numerics/DGMethods/Euler/acousticwave_1d_imex.jl
  test/Numerics/DGMethods/Euler/acousticwave_mrigark.jl
  test/Numerics/DGMethods/Euler/acousticwave_variable_degree.jl
  test/Numerics/DGMethods/Euler/fvm_balance.jl
  test/Numerics/DGMethods/advection_diffusion/advection_sphere.jl
  test/Numerics/DGMethods/advection_diffusion/diffusion_hyperdiffusion_sphere.jl
  test/Numerics/DGMethods/advection_diffusion/direction_splitting_advection_diffusion.jl
  test/Numerics/DGMethods/advection_diffusion/fvm_advection_sphere.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/config_sphere.jl
  test/Numerics/DGMethods/conservation/sphere.jl
  test/Numerics/DGMethods/grad_test_sphere.jl
  test/Numerics/DGMethods/horizontal_integral_test.jl
  test/Numerics/DGMethods/integral_test_sphere.jl
  test/Numerics/DGMethods/remainder_model.jl
  test/Numerics/Mesh/interpolation.jl
  test/Numerics/Mesh/mpi_connect_sphere.jl
  test/Numerics/Mesh/topology.jl
Labels: Numerics 🔢, enhancement, geometry

#2097 Clean up AtmosModel constructor
  docs/src/GettingStarted/Atmos.md
  experiments/AtmosGCM/GCMDriver/GCMDriver.jl
  src/Atmos/Model/AtmosModel.jl
  test/Driver/cr_unit_tests.jl
  test/Driver/gcm_driver_test.jl
  test/Numerics/DGMethods/Euler/acousticwave_1d_imex.jl
  test/Numerics/DGMethods/Euler/acousticwave_variable_degree.jl
  test/Numerics/DGMethods/Euler/fvm_balance.jl
  tutorials/Numerics/TimeStepping/tutorial_acousticwave_config.jl
Labels: Atmos

#1880 DiagnosticsMachine and StdDiagnostics
  .buildkite/pipeline.yml
  .github/workflows/Linux-UnitTests.yml
  Project.toml
  docs/list_of_apis.jl
  docs/src/APIs/Diagnostics/Diagnostics.md
  docs/src/APIs/Diagnostics/DiagnosticsMachine.md
  docs/src/APIs/Diagnostics/StdDiagnostics.md
  docs/src/HowToGuides/Diagnostics/UsingDiagnostics.md
  experiments/AtmosGCM/heldsuarez.jl
  experiments/AtmosLES/surfacebubble.jl
  src/Atmos/Model/moisture.jl
  src/Atmos/Model/precipitation.jl
  src/Atmos/Model/tracers.jl
  src/ClimateMachine.jl
  src/Diagnostics/Diagnostics.jl
  src/Diagnostics/DiagnosticsMachine/DiagnosticsMachine.jl
  src/Diagnostics/DiagnosticsMachine/atmos_diagnostic_funs.jl
  src/Diagnostics/DiagnosticsMachine/group_gen.jl
  src/Diagnostics/DiagnosticsMachine/groups.jl
  src/Diagnostics/DiagnosticsMachine/horizontal_average.jl
  src/Diagnostics/DiagnosticsMachine/onetime.jl
  src/Diagnostics/DiagnosticsMachine/pointwise.jl
  src/Diagnostics/DiagnosticsMachine/variables.jl
  src/Diagnostics/StdDiagnostics/StdDiagnostics.jl
  src/Diagnostics/StdDiagnostics/atmos_gcm_default.jl
  src/Diagnostics/StdDiagnostics/atmos_gcm_diagnostic_vars.jl
  src/Diagnostics/StdDiagnostics/atmos_les_default.jl
  src/Diagnostics/StdDiagnostics/atmos_les_diagnostic_vars.jl
  src/Driver/ConfigTypes/ConfigTypes.jl
  src/Driver/Driver.jl
  src/Numerics/Mesh/Interpolation.jl
  test/Diagnostics/dm_tests.jl
  test/Diagnostics/runtests.jl
  test/Diagnostics/sin_init.jl
  test/Diagnostics/sin_test.jl
Labels: Diagnostics

#2074 Add `--checkpoint-on-crash`
  docs/src/APIs/Arrays/Arrays.md
  docs/src/GettingStarted/RunningClimateMachine.md
  src/Arrays/MPIStateArrays.jl
  src/Driver/Driver.jl
  src/Driver/SolverTypes/ExplicitSolverType.jl
  src/Driver/SolverTypes/HEVISolverType.jl
  src/Driver/SolverTypes/IMEXSolverType.jl
  src/Driver/SolverTypes/ImplicitSolverType.jl
  src/Driver/SolverTypes/MISSolverType.jl
  src/Driver/SolverTypes/MultirateSolverType.jl
  src/Driver/SolverTypes/SolverTypes.jl
  src/Driver/SolverTypes/SplitExplicitSolverType.jl
  src/Driver/solver_configs.jl
  src/Numerics/DGMethods/DGModel.jl
  src/Numerics/DGMethods/remainder.jl
Labels: debugging

#2121 Do not create example blocks on executed code
  docs/list_of_tutorials.jl
  docs/make.jl
  tutorials/Atmos/agnesi_hs_lin.jl
  tutorials/Ocean/geostrophic_adjustment.jl
  tutorials/Ocean/internal_wave.jl
  tutorials/Ocean/shear_instability.jl
Labels: CI, Documentation 📜

#2118 Add Orientations for testing Hydrostatic balance
  .buildkite/pipeline.yml
  test/Numerics/DGMethods/compressible_navier_stokes_equations/CNSE.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/boilerplate.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/shared_source/abstractions.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/shared_source/callbacks.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/ThreeDimensionalCompressibleNavierStokesEquations.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/config_sphere.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/refvals_buoyancy.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/test_buoyancy.jl
Labels: Numerics 🔢, tests

#2109 Remove prognostic variable type parameter from tendency definition
  Manifest.toml
  Project.toml
  docs/src/APIs/BalanceLaws/BalanceLaws.md
  docs/src/GettingStarted/Atmos.md
  docs/src/HowToGuides/Atmos/MoistureAndPrecip.md
  experiments/AtmosGCM/GCMDriver/GCMDriver.jl
  experiments/AtmosGCM/GCMDriver/gcm_sources.jl
  experiments/AtmosGCM/GCMDriver/heldsuarez_problem.jl
  experiments/AtmosGCM/heldsuarez.jl
  experiments/AtmosGCM/moist_baroclinic_wave_bulksfcflux.jl
  experiments/AtmosLES/bomex_model.jl
  experiments/AtmosLES/cfsite_hadgem2-a_07_amip.jl
  experiments/AtmosLES/convective_bl_model.jl
  experiments/AtmosLES/dycoms.jl
  experiments/AtmosLES/schar_scalar_advection.jl
  experiments/AtmosLES/squall_line.jl
  experiments/AtmosLES/stable_bl_model.jl
  experiments/TestCase/baroclinic_wave.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/atmos_tendencies.jl
  src/Atmos/Model/get_prognostic_vars.jl
  src/Atmos/Model/linear_atmos_tendencies.jl
  src/Atmos/Model/linear_tendencies.jl
  src/Atmos/Model/multiphysics_types.jl
  src/Atmos/Model/precipitation.jl
  src/Atmos/Model/projections.jl
  src/Atmos/Model/tendencies_energy.jl
  src/Atmos/Model/tendencies_mass.jl
  src/Atmos/Model/tendencies_moisture.jl
  src/Atmos/Model/tendencies_momentum.jl
  src/Atmos/Model/tendencies_precipitation.jl
  src/Atmos/Model/tendencies_tracers.jl
  src/Atmos/Model/tracers.jl
  src/BalanceLaws/show_tendencies.jl
  src/BalanceLaws/sum_tendencies.jl
  src/BalanceLaws/tendency_types.jl
  src/Common/TurbulenceClosures/TurbulenceClosures.jl
  src/Diagnostics/dump_tendencies.jl
  test/Atmos/EDMF/edmf_kernels.jl
  test/BalanceLaws/runtests.jl
  test/Driver/mms3.jl
  test/Numerics/DGMethods/compressible_Navier_Stokes/mms_bc_atmos.jl
  tutorials/Atmos/agnesi_hs_lin.jl
  tutorials/Atmos/agnesi_nh_lin.jl
  tutorials/Atmos/heldsuarez.jl
  tutorials/BalanceLaws/tendency_specification_layer.jl
Labels: BalanceLaw

#2120 Fix Burgers tutorials plotting (issue 2119)
  tutorials/Atmos/burgers_single_stack_bjfnk.jl
  tutorials/Atmos/burgers_single_stack_fvm.jl
Labels: tutorials

#2103 Fix TurbulenceClosures docs, remove dead code
  src/Common/TurbulenceClosures/TurbulenceClosures.jl
Labels: Documentation 📜, House cleaning 🧹

#2112 Add neutrally stratified Ekman layer experiment and anelastic driver
  .buildkite/pipeline.yml
  experiments/AtmosLES/ekman_layer_model.jl
  test/Atmos/EDMF/ekman_layer.jl
Labels: Anelastic1D

#2131 Cut 3D bickley jet test runtime in half
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/refvals_bickley_jet.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/test_bickley_jet.jl
Labels: CI, tests

#2130 Implement pressure gradient as a source instead of a divergence to pressure hydrostatic balance
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/ThreeDimensionalCompressibleNavierStokesEquations.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/refvals_bickley_jet.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/refvals_buoyancy.jl
  test/Numerics/DGMethods/compressible_navier_stokes_equations/three_dimensional/test_buoyancy.jl
Labels: Numerics 🔢, tests

#2129 Move `atmos.ref_state` to `atmos.physics.ref_state`
  experiments/TestCase/risingbubble.jl
  experiments/TestCase/risingbubble_fvm.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/linear.jl
  src/Atmos/Model/ref_state.jl
  src/Atmos/Model/tendencies_momentum.jl
  src/Diagnostics/atmos_refstate_perturbations.jl
  tutorials/Atmos/densitycurrent.jl
  tutorials/Atmos/risingbubble.jl
  tutorials/Numerics/TimeStepping/tutorial_risingbubble_config.jl
Labels: Abstractions 🎨

#2137 Move compressibility to atmos.physics
  experiments/AtmosLES/ekman_layer_model.jl
  experiments/AtmosLES/stable_bl_model.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/atmos_tendencies.jl
  src/Atmos/Model/projections.jl
  src/Atmos/Model/thermo_states.jl
  test/Atmos/prog_prim_conversion/runtests.jl
Labels: Abstractions 🎨

#2139 Move turbulence and turbconv to atmos.physics
  experiments/AtmosLES/bomex_model.jl
  experiments/AtmosLES/convective_bl_model.jl
  experiments/AtmosLES/ekman_layer_model.jl
  experiments/AtmosLES/stable_bl_model.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/atmos_tendencies.jl
  src/Atmos/Model/get_prognostic_vars.jl
  src/Atmos/Model/linear.jl
  src/Atmos/Model/prog_prim_conversion.jl
  test/Atmos/EDMF/closures/entr_detr.jl
  test/Atmos/EDMF/closures/mixing_length.jl
  test/Atmos/EDMF/closures/pressure.jl
  test/Atmos/EDMF/closures/surface_functions.jl
  test/Atmos/EDMF/closures/turbulence_functions.jl
  test/Atmos/EDMF/edmf_kernels.jl
  test/Atmos/EDMF/helper_funcs/nondimensional_exchange_functions.jl
  test/Atmos/EDMF/helper_funcs/save_subdomain_temperature.jl
  test/Atmos/EDMF/helper_funcs/subdomain_statistics.jl
  test/Atmos/EDMF/helper_funcs/subdomain_thermo_states.jl
Labels: Abstractions 🎨

#2134 switch from energy to total specific enthalpy in the EDMF SGS flux
  test/Atmos/EDMF/edmf_kernels.jl
Labels: EDMF

#2142 Move atmos components to atmos.physics
  experiments/AtmosLES/dycoms.jl
  experiments/AtmosLES/squall_line.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/atmos_tendencies.jl
  src/Atmos/Model/get_prognostic_vars.jl
  src/Atmos/Model/linear.jl
  src/Common/TurbulenceClosures/TurbulenceClosures.jl
  src/Diagnostics/atmos_les_default.jl
Labels: Abstractions 🎨

#2144 Move more atmos components to `atmos.physics`
  experiments/AtmosLES/dycoms.jl
  src/Atmos/Model/AtmosModel.jl
  src/Atmos/Model/atmos_tendencies.jl
  src/Atmos/Model/get_prognostic_vars.jl
Labels: Abstractions 🎨

#2140 Add `--start-datetime` and `ClimateMachine.datetime()`
  docs/src/APIs/Driver/index.md
  src/Driver/Driver.jl
  src/Driver/driver_configs.jl
  src/Numerics/ODESolvers/ODESolvers.jl
Labels: User Interface

#2145 Add a function wrapper for Jacobi polynomials.
  src/Numerics/Mesh/Elements.jl
  test/Numerics/Mesh/Elements.jl
Labels: Numerics 🔢
